{{#each actor.effects as |effect|}}
    <div class="swsh-box mb-2 w-100 no-shadow">
        <div class="swsh-header pl-2 effect-header">
            <h3 style="flex: 1 0 50%">{{label}} {{#if (is disabled true)}}({{localize "PTU.EffectDisabled"}}){{/if}}</h3>
            <div class="item-controls pr-1 flexcol" style="flex: 0 0 13%;">
                <a class="item-control effect-suspend" data-id="{{../id}}" title="{{#if (is disabled true)}}Enable Effect{{else}}Disable Effect{{/if}}"><i
                    class="fas {{#if (is disabled true)}}fa-times-circle{{else}}fa-check-circle{{/if}}" style="margin-right: 3px;"></i><span
                    class="readable">{{#if (is disabled true)}}{{localize "PTU.EffectEnable"}} {{localize "PTU.Effect"}}{{else}}{{localize "PTU.EffectDisable"}} {{localize "PTU.Effect"}}{{/if}}</span></a>
            </div>
            {{#unless flags.ptu.editLocked}}
                <div class="item-controls pr-1 flexcol" style="flex: 0 0 7%;">
                    <a class="item-control effect-edit" data-id="{{../id}}" title="Edit Effect"><i
                        class="fas fa-edit" style="margin-right: 3px;"></i><span
                        class="readable">{{localize "ITEM.EditButton"}}</span></a>
                </div>
            {{/unless}}
            <div class="item-controls flexcol" style="flex: 0 0 7%;">
                <a class="item-control effect-delete" data-id="{{../id}}" title="Delete Effect"><i
                    class="fas fa-trash" style="margin-right: 3px;"></i><span
                    class="readable">{{localize "ITEM.DeleteButton"}}</span></a>
            </div>
        </div>
        <div class="swsh-body w-100">
            <ol class="inventory-list">
                <li class="inventory-header flexrow {{#if (is disabled true)}}effect-disabled{{/if}}" style="background: linear-gradient(45deg, #ffffffbb, #fff, #ffffffbb); border-radius: 5px;">
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 1 0 12%;">
                    <h4>{{localize "PTU.EffectTarget"}}</h4>
                </div>
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 1 0 8%;">
                    <h4>{{localize "PTU.EffectValue"}}</h4>
                </div>
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 1 0 7%;">
                    <h4>{{localize "PTU.EffectMode"}}</h4>
                </div>
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 1 0 5%;">
                    <h4>{{localize "PTU.EffectPriority"}}</h4>
                </div>
                </li>
                <ol class="item-list">
                {{#each changes as | change |}}
                <li class="item flexrow" data-item-id="{{change.key}}">
                    <div class="item-name flexcol align-items-center align-self-center" style="flex: 1 0 12%;">
                    <h4> 
                        {{change.key}}
                    </h4>
                    </div>
                    <div class="item-name flexcol align-items-center align-self-center" style="flex: 1 0 8%;">
                        <span class="readable pokemon p8 tight">{{change.value}}</span>
                    </div>
                    <div class="item-name flexcol align-items-center align-self-center" style="flex: 1 0 7%;">
                        <span class="readable pokemon p8 tight">{{toReadableEffectMode change.mode}}</span>
                    </div>
                    <div class="item-name flexcol align-items-center align-self-center" style="flex: 1 0 5%;">
                        <span class="readable pokemon p8 tight">{{change.priority}}</span>
                    </div>
                </li>
                {{/each}}
                </ol>
            </ol>
        </div>
    </div>
{{/each}}