<span class="mod-input" {{#if (isdefined mod)}}data-mod="{{#if (gt mod 0)}}+{{/if}}{{mod}}"{{/if}}>
    {{#if modOrigins}}
    <div class="mod-tooltip {{#if flipped}}bottom-display{{/if}}">
        <h1 style="font-size:14px; text-align:center;">Modifiers:</h1>
        <ol>
            {{#each modOrigins}}
                <ul>
                    <b>{{label}}</b>: 
                    {{#if (is (aeTypes change.type) "Add")}}
                        {{#if (gt change.value -1)}}+{{/if}}{{change.value}}                
                    {{else}}
                        {{#if (is (aeTypes change.type) "Multiply")}}
                            x {{change.value}}
                        {{else}}
                            {{aeTypes change.type}} {{change.value}}
                        {{/if}}
                    {{/if}} 
                </ul>
            {{/each}}
            {{#unless (is total "ignored")}}
                <ul style="border-top: 1px solid black; padding-top: 0.25rem;">
                    <b>Total:</b> {{total}}
                </ul>
            {{/unless}}
        </ol>
    </div>
    {{/if}}
    <input type="text" name="{{path}}" value="{{value}}" data-dtype="{{dtype}}" {{#if disabled}}disabled{{/if}}/>
</span>