<li class="item flexrow" data-entry-uuid="{{entry.uuid}}" data-type="Item">
    <div class="image">
        <img class="" src="{{entry.img}}" title="{{entry.name}}" width="40" height="40" loading="lazy"/>
    </div>
    <div class="name">
        <a class="item-link">{{entry.name}}</a>
    </div>
    <div class="cost">
        <span class="tag" title="{{entry.cost}}">{{entry.cost}}<img class="dollar-svg" src="systems/ptu/static/css/images/Pokémon_Dollar_sign.svg"></span>
    </div>
</li>
