<li class="item flexrow" data-entry-uuid="{{entry.uuid}}" data-type="Item">
    <div class="image type-image">
        <img class="" src="{{entry.img}}" title="{{entry.name}}" width="40" height="40" loading="lazy"/>
    </div>
    <div class="image category-image">
        <img class="" src="systems/ptu/static/css/images/types2/{{entry.category}}IC_Icon.png" title="{{entry.name}}" width="40" height="40" loading="lazy"/>
    </div>
    <div class="name">
        <a class="item-link">{{entry.name}}</a>
    </div>
    {{#if entry.damageBase}}
        <div class="db">
            <span class="tag" title="Damage Base {{entry.damageBase}}"><small>DB:</small><span>{{entry.damageBase}}</span></span>
        </div>
    {{/if}}
</li>
