<div title='{{name}}' class="belt-item {{color}}" draggable="true">
    <img class="belt-actor actor" 
        style="{{#if isActive}}filter: brightness(0%);{{/if}}{{#if bgImg}}background-image: url('{{bgImg}}') no-repeat center;background-size:contain;{{/if}}"     
        data-entity-id="{{id}}" data-entity-uuid="{{uuid}}" draggable="true" src="{{img}}"/>
</div>