<div title='{{name}}' class="belt-item {{color}}">
    <img class="directory-item belt-pokeball entity actor" 
        style="{{#if isActive}}filter: brightness(0%);{{/if}}{{#if bgImg}}background-image: url('{{bgImg}}') no-repeat center;background-size:contain;{{/if}}"     
        data-entity-id="{{id}}" draggable="true" src="{{img}}"/>
</div>