<div class="d-flex pb-1" id="menu-buttons">
    <button title="Coming Soon" class="menu-item p-1" id="struggle-button" data-type="struggle">Struggles</button>
    <button title="Coming Soon" disabled class="menu-item p-1" id="maneuver-button" data-type="maneuver">Maneuvers</button>
    <button title="Pokeball Menu" class="menu-item p-1" id="pokeball-button" data-type="pokeball">Pokeballs</button>
    <button title="Coming Soon" disabled class="menu-item p-1" id="rest-button" data-type="rest">Resting</button>
</div>

<div class="d-flex" id="menu-content">
    {{#if (is menu "struggle")}}
        <!-- Struggle Menu -->
        {{#if struggles}}
            {{#each struggles as | struggle |}}
            {{log struggle}}
                <div class="struggle-row">
                    <button type="button" class="movemaster-button" data-struggle-id="{{struggle._id}}">
                        <div class="btn-body efc none" >
                            <h3>
                                <!-- Move Name -->
                                <div class="pt-2 pb-1" {{!-- style="padding-top:5px;" --}} title="{{struggle.name}}">
                                    Struggle
                                </div>
                                <!-- Frequency -->
                                <img src="{{calcFrequencyIconPath struggle.system.frequency '0'}}" title="{{struggle.system.frequency}} ({{'0'}} Remaining)"
                                    style="border-width: 0;">
                                <!-- Typings -->
                                <div class="type-bar">
                                    <img src="systems/ptu/images/icons/{{struggle.system.category}}.png" />
                                    <img src="systems/ptu/images/icons/{{struggle.system.type}}IC.png" />
                                </div>
                            </h3>
                            <!-- Damage Base Bar -->
                            {{!-- {{#if (and (not system.damageBase "--") (not (contains "damage" (system.damageBase)) true)) }} --}}
                            {{#unless (is struggle.system.damageBase "--")}}
                            <div class="col p-0">
                                <span class="type-img">
                                    <img title="Damage Base {{calcDb struggle.system}}"
                                        src="/systems/ptu/images/icons/DividerIcon_DB{{calcDb struggle.system}}.png" />
                                </span>
                            </div>
                            {{/unless}}
                        </div>
                    </button>
                </div>
            {{/each}}
        {{/if}}
    {{else}}
    {{#if (is menu "maneuver")}}
        <!-- Does not trigger as of now-->
    {{else}}
    {{#if (is menu "pokeball")}}
        <!-- Pokeball Menu -->
        {{#if ball}}
            {{#each ball as | item |}}
                <div title='{{name}} x{{amount}}' class="pokeball-item" data-entity-id="{{id}}" data-owner-id="{{owner}}" data-ball-name="{{name}}">
                    <img data-entity-id="{{id}}" data-owner-id="{{owner}}" data-ball-name="{{name}}" src="{{img}}"/>
                </div>
            {{/each}}
        {{else}}
            <h4 style="color: white;">No Poké Balls found in inventory.</h4>
        {{/if}}
    {{/if}}{{/if}}{{/if}}
</div>