<div class="row m-0 p-0">
    <button type="button" class="movemaster-button" data-button="{{_id}}">
        <div class="btn-body efc {{getEffectivenessColor system.effectiveness}}" >
            <h3>
                <!-- Move Name -->
                <div class="pt-2 pb-1" {{!-- style="padding-top:5px;" --}} title="{{system.effect}}">
                    {{name}}
                </div>
                <!-- Frequency -->
                <img src="{{calcFrequencyIconPath system.frequency '0'}}" title="{{system.frequency}} ({{'0'}} Remaining)"
                    style="border-width: 0;">
                <!-- Typings -->
                <div class="type-bar">
                    <img src="systems/ptu/images/icons/{{system.category}}.png" />
                    <img src="systems/ptu/images/icons/{{system.type}}IC.png" />
                </div>
            </h3>
            <!-- Stab Bar -->
            {{#if system.stab}}
            <div class="col p-0">
                <span class="type-img">
                    <img src="/systems/ptu/images/icons/STAB_Border.png" style="height: 1px;" />
                </span>
            </div>
            {{/if}}
            <!-- Damage Base Bar -->
            {{!-- {{#if (and (not system.damageBase "--") (not (contains "damage" (system.damageBase)) true)) }} --}}
            {{#unless (is system.damageBase "--")}}
            <div class="col p-0">
                <span class="type-img">
                    <img title="Damage Base {{calcDb system}}"
                        src="/systems/ptu/images/icons/DividerIcon_DB{{calcDb system}}.png" />
                </span>
            </div>
            {{/unless}}
            <!-- Other Icons (to be done) -->
            <div class="d-flex icon-list">
                {{{system.rangeIconsHtml}}}
                {{#unless (is system.effectiveness "-1")}}
                    <span style="font-size:30px">
                        / x {{system.effectiveness}}
                    </span>
                {{/unless}}
            </div>
        </div>
    </button>
</div>