<div class="d-flex order p-1">
    <div class="item {{color}}" data-item-id="{{id}}" data-item-owner="{{owner}}" data-training-type="{{type}}">
        <p title='{{effect}}'>{{name}}</p>
    </div>
    <div class="auto {{color2}}" data-item-id="{{id}}" data-item-owner="{{owner}}" data-training-type="{{type}}">
        <p>Auto</p>
    </div>
</div>