<form
  class="{{cssClass}} container-fluid"
  autocomplete="off"
  style="text-align: center;"
>
  <div style="
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    background: #C42835;
    clip-path: polygon(0 0, 49% 0, -29% 100%, 0% 100%);">
  </div><div style="
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 0;
    background: linear-gradient(45deg, #ECDBEB, #DFFFFE);">
  </div><div style="
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 2;
    background: #E33242;
    clip-path: polygon(0 0, 42% 0, -35% 100%, 0% 100%);">
  </div>
  <div class="sheet-body content d-flex align-items-end flex-column h-100">
    <div class="tab details species" data-group="primary" data-tab="species">
      <div class="w-100 justify-content-center mb-3 bar mt-3">
        <label for="data.species">Pokemon Species</label>
      </div>
      <div class="d-flex w-100 pl-4 pr-4">
        <div class="col-sm-8 justify-content-center mb-2" style="padding-left: unset;">
          <input id="speciesField" type="text" name="data.species" value="{{#if object.data.species}}{{object.data.species}}{{else}}{{object.name}}{{/if}}"/>
        </div>
        <div class="col-sm-4 justify-content-center mb-2" style="padding-right: unset;">
          <input id="speciesIdField" type="number" name="data.species.id" value="{{#if selectedSpecies}}{{selectedSpecies.number}}{{/if}}" />
        </div>
      </div>
      <div class="w-100 pl-4 pr-4 justify-content-center" id="preview-img">
      </div>
      <div class="w-100 typing d-flex pl-4 pr-4 pb-2">
        <img id="type1" src="/systems/ptu/css/images/types2/IC.png"><img id="type2" src="/systems/ptu/css/images/types2/IC_Flipped.png">
      </div>
      <div class="w-100 d-flex pb-2 pl-4 pr-4">
        <div class="col-sm-6 justify-content-center mb-2" style="padding-left: unset;">
          <div id="levelExpContainer">
            <input id="levelExpField" type="number" step="1" min="0" name="data.level.exp" value="{{#if object.data.level}}{{object.data.level.exp}}{{/if}}"/>
            <span id="levelExpSuffix"> XP</span>
            <div id="levelExpInvis" style="width: auto;
              display: inline-block;
              visibility: hidden;
              position: fixed;
              overflow:auto;"></div>
          </div>
        </div>
        <div class="col-sm-6 justify-content-center mb-1" style="padding-right: unset;">
          <div id="levelContainer">
            <input id="levelField" min="1" max="100" step="1" type="number" name="data.level.current" value="{{#if object.data.level}}{{object.data.level.current}}{{/if}}" />
            <span id="levelPrefix">Level </span>
            <div id="levelInvis" style="width: auto;
              display: inline-block;
              visibility: hidden;
              position: fixed;
              overflow:auto;"></div>
          </div>
        </div>
      </div>
      <div class="w-100 pb-2 pl-4 pr-4">
        <div class="progress-bar" id="levelBar"></div>
      </div>
      <div class="w-100 d-flex flex-row pl-4 pr-4 mb-2" id="evolutionContainer" style="flex-wrap: wrap; justify-content: space-evenly">
        {{> "systems/ptu/templates/partials/charactermancer-evolution-partial.hbs" stages=stages}}
      </div>
      <div class="w-100 justify-content-between mt-auto mb-1">
        <button class="btn" data-value="submit" style="width: 40%;">Submit</button>
        <button class="btn" data-value="species-next" style="width: 40%;">Next</button>
      </div>
    </div>
    <div class="tab details stats" data-group="primary" data-tab="stats">
      <!-- Nature -->
      <div class="w-100 justify-content-center mb-3 bar mt-3">
        <label for="data.nature.value">Nature</label>
      </div>
      <div class="d-flex w-100 pl-1 pr-1">
        <div class="col-sm-3 justify-content-center mb-2" style="padding-right: unset;">
          <input disabled id="natureDown" class="nature-down" type="text" value="">
        </div>
        <div class="col-sm-6 justify-content-center mb-2" style="padding 0 5px;">
          {{#select object.data.nature.value}}
            <select id="natureSelect" name="data.nature.value">
              {{#each natures as | nature key |}}
                <option value="{{key}}">{{key}}</option>
              {{/each}}
            </select>
          {{/select}}
        </div>
        <div class="col-sm-3 justify-content-center mb-2" style="padding-left: unset;">
          <input disabled id="natureUp" class="nature-up" type="text" value="">
        </div>
      </div>

      <!-- Stats -->
      <div class="w-100 justify-content-center mb-3 bar mt-3" style="font-size: 18px;">
        <div class="pl-2 pr-2 d-flex flex-row">
          <div class="stats key" style="text-align: center;">
            <label>Stats</label>
          </div>
          <div class="stats base">
            <label>Base</label>
          </div>
          <div class="stats levelUp" style="font-size: 14px;">
            <label>Level<br>Stats</label>
          </div>
          <div class="stats total">
            <label>Final</label>
          </div>
        </div>
      </div>
      {{#each stats as |stat key|}}
        <div class="w-100 justify-content-center mb-1 bar mt-1 {{key}}" style="padding: 0.1rem; font-size: 11px;">
          <div class="pl-3 pr-2 d-flex flex-row">
            <div class="stats {{key}} key {{natureCheck ../nature.value key}}">
              <label for="data.stats.{{key}}.value" class="resource-label">{{#if (is key "hp")}}HP{{else}}{{stat.label}}{{/if}}</label>
            </div>
            <div class="stats {{key}} base ">
              <input type="text" class="no-box" value="{{stat.value}}" data-dtype="Number"
                disabled />
            </div>
            <div class="stats {{key}} levelUp">
              <input type="text" name="data.stats.{{key}}.levelUp" value="{{stat.levelUp}}" data-key="{{key}}" data-dtype="Number" />
            </div>
            <div class="stats {{key}} total">
              <input type="text" class="no-box" value="{{stat.total}}" data-dtype="Number"
                disabled />
            </div>
          </div>
        </div>
      {{/each}}

      <div class="w-100 mb-3 bar mt-1 pr-2" style="background: unset; padding: 0.1rem; font-size: 9px;">
        <div class="d-flex flex-row justify-content-end pr-2">
          <div style="flex: 0 1 20%">
            <input type="text" name="data.levelUpPoints" value="0" data-dtype="Number" disabled />
          </div>
          <div style="flex: 0 0 25%; padding-left: 5px; color:black; align-self: center;">
            <label>Levelup Points Remaining</label>
          </div>
        </div>
      </div>

      <!-- Abilities -->
      {{!-- <div class="w-100 justify-content-center mb-3 bar mt-3">
        <label>Abilities</label>
      </div> --}}

      <!-- Capabilities -->
      {{!-- <div class="w-100 justify-content-center mb-3 bar mt-3">
        <label>Capabilities</label>
      </div> --}}

      <!-- Buttons -->
      <div class="w-100 justify-content-between mt-auto mb-1" style="position: absolute; bottom:0;">
        <button class="btn" data-value="submit" style="width: 40%;">Submit</button>
        <button class="btn" data-value="species-next" style="width: 40%;">Next</button>
      </div>
    </div>
  </div>
  <div class="sheet-footer" style="display:none;">
    <div class="tabs">
      <ul class="sheet-tabs tabs buttons" data-group="primary">
        <li><button class="item" data-tab="species">Species</button></li>
        <li><button class="item" data-tab="stats">Stats</button></li>
        <li><button class="item" data-tab="Moves">Moves</button></li>
      </ul>
    </div>
  </div>
</form>