<form class="flexcol settings" autocomplete="off">
    <!-- Navigation -->
    <nav class="settings-tabs tabs buttons" data-group="primary">
        {{#each categories as |category|}}
            <a class="item" data-tab="{{category.id}}"><i class="{{category.icon}}"></i>{{category.label}}</a>
        {{/each}}
    </nav>

    <!-- Body -->
    <div class="settings-body">
        {{#each categories as |category|}}
            <div class="tab details {{category.id}}" data-group="primary" data-tab="{{category.id}}">
                <div class="settings-list">
                    <div class="d-flex flexrow">
                        <h2 class="m-1">{{category.label}}</h2>
                        <p class="notes">{{category.subtext}}</p>
                    </div>
                    {{#each category.settings as |setting key|}}
                        <div class="form-group">
                            <label>{{setting.name}}</label>
                            <div class="form-fields">
                                {{#with setting}}
                                    {{#if this.isCheckbox}}
                                        <input type="checkbox" name="{{this.module}}.{{this.key}}" data-dtype="Boolean" {{checked this.value}}/>

                                    {{else if this.isSelect}}
                                        <select name="{{this.module}}.{{this.key}}">
                                            {{#select this.value}}
                                            {{#each this.choices as |name k|}}
                                            <option value="{{k}}">{{localize name}}</option>
                                            {{/each}}
                                            {{/select}}
                                        </select>

                                    {{else if this.isRange}}
                                        <input type="range" name="{{this.module}}.{{this.key}}" data-dtype="Number" value="{{ this.value }}"
                                            min="{{ this.range.min }}" max="{{ this.range.max }}" step="{{ this.range.step }}"/>
                                        <span class="range-value">{{this.value}}</span>

                                    {{else}}
                                        <input type="text" name="{{this.module}}.{{this.key}}" value="{{this.value}}" data-dtype="{{this.type}}"/>
                                    {{/if}}
                                {{/with}}
                            </div>
                            <p class="notes">{{setting.hint}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>  
        {{/each}}
    </div>
    <!-- Settings Footer -->
    <footer class="sheet-footer flexrow" style="height: unset;">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
        </button>
    </footer>
</form>