<div class="form-group">
    <label class="short">{{localize "PTU.RuleEditor.General.Domain"}}</label>
    <div class="spaced-fields details-container-flex-row">
        <input type="text" name="system.rules.{{index}}.domain" value="{{rule.domain}}" placeholder="Domain is 'all' if empty"/>
    </div>
</div>

<div class="form-group">
    <label class="short">{{localize "PTU.RuleEditor.General.Option"}}</label>
    <div class="spaced-fields details-container-flex-row">
        <input type="text" name="system.rules.{{index}}.option" value="{{rule.option}}" placeholder="Roll Option"/>
    </div>
</div>

<div class="form-group">
    <label class="short">{{localize "PTU.RuleEditor.General.Value"}}</label>
    <div class="spaced-fields details-container-flex-row">
        <input type="text" name="system.rules.{{index}}.value" value="{{rule.value}}" placeholder="Value is 'true' if empty"/>
    </div>
</div>

