<form class="{{cssClass}} container-fluid" autocomplete="off">
  <div class="row justify-content-between h-100">
    <div class="col-sm-12" style="padding-left: unset;">
      <div style="
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 1;
        background: #C42835;
        clip-path: polygon(0 0, 52% 0, 22% 100%, 0% 100%);">
      </div><div style="
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 0;
        background: linear-gradient(45deg, #ECDBEB, #DFFFFE);
        clip-path: polygon(100% 0, 45% 0, 15% 100%, 100% 100%);">
      </div><div style="
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 2;
        background: #E33242;
        clip-path: polygon(0 0, 44% 0, 14% 100%, 0% 100%);">
      </div>
      <div class="panel gen8character h-100">
        <div class="sheet-body no-hd h-100">
          <!-- Stats Tab -->
          <div class="tab details stats h-100" data-group="primary" data-tab="stats">
            <div class="row justify-content-between p-2 h-100">
              <!-- Left Col -->
              <div class="col-sm-12 col-md-5">
                <div class="d-flex align-items-end flex-column h-100">
                  <!-- Skills -->
                  <div class="swsh-box mt-auto w-100 mb-2">
                    <div class="swsh-header skill skill-block" style="padding: 0;">
                      <div class="row no-gutters header w-100">
                        <div class="col-sm-3 pt-2 pb-2">{{localize "PTU.SkillLabel"}}</div>
                        <div class="col mt-2 mb-2">{{localize "PTU.SkillValue"}}</div>
                        <div class="col-sm-3 mt-2 mb-2">{{localize "PTU.SkillRank"}}</div>
                        <div class="col mt-2 mb-2">{{localize "PTU.SkillMod"}}</div>
                        <div class="col-sm-2 mt-2 mb-2">{{localize "PTU.SkillDice"}}</div>
                      </div>
                    </div>
                    <div class="swsh-body p-0">
                      <div class="w-100 skills skill-block">
                        {{#each data.skills as |skill key|}}
                        <div class="row no-gutters {{key}} align-items-center">
                          <div class="skill {{key}} col-sm-3 bgcolor key type--{{skill.type}} align-self-center">
                            <label for="data.skills.{{key}}.label" class="resource-label" {{#if (is key "techEd")}}style="font-size:10px;"{{/if}}>{{skill.label}}</label>
                          </div>
                          <div class="skill {{key}} col pl-1 pr-1 fs-9 center-text">
                            {{> "systems/ptu/templates/partials/mod-field.hbs" 
                              path=(concat "data.skills." key ".value.value") 
                              value=skill.value.value
                              dtype="Number" 
                              mod=skill.value.mod
                              total=skill.value.total
                              modOrigins=(getProperty ../actor.origins (concat "data.skills." key ".value.mod"))
                              flipped=(gt 8 @index)}}
                          </div>
                          <div class="skill {{key}} col-sm-3 align-self-center bgcolor skill--{{skill.rank}} center-text">
                            <label for="data.skills.{{key}}.rank" class="resource-label">{{localize (concat "PTU.Skill" skill.rank)}}</label>
                          </div>
                          <div class="skill {{key}} col pl-1 fs-9 center-text">
                            {{> "systems/ptu/templates/partials/mod-field.hbs" 
                              path=(concat "data.skills." key ".modifier.value") 
                              value=skill.modifier.value
                              dtype="Number" 
                              mod=skill.modifier.mod
                              total=skill.modifier.total
                              modOrigins=(getProperty ../actor.origins (concat "data.skills." key ".modifier.mod") )
                              flipped=(gt 8 @index)}}
                          </div>
                          <div class="skill {{key}} col-sm-2 align-self-center bgcolor fs-9 center-text rollable"
                            data-roll="{{#if (is true (getGameSetting "ignoreVirtuosoLimit"))}}{{skill.value.total}}{{else}}{{#if (bigger skill.value.total 6)}}6{{else}}{{skill.value.total}}{{/if}}{{/if}}d6{{#if skill.modifier.total}}+{{skill.modifier.total}}{{/if}}"
                            data-label="{{skill.label}}">
                            <i class="fas fa-dice-d20"></i>
                            <label for="data.skills.{{key}}.value"
                              class="resource-label">{{#if (is true (getGameSetting "ignoreVirtuosoLimit"))}}{{skill.value.total}}{{else}}{{#if (bigger skill.value.total 6)}}6{{else}}{{skill.value.total}}{{/if}}{{/if}}d6{{#if skill.modifier.total}}+{{skill.modifier.total}}{{/if}}</label>
                          </div>
                        </div>
                        {{/each}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-3 align-items-center align-self-center">
                <div class="avatar">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                  </div>
              </div>

              <!-- Right Col -->
              <div class="col-sm-12 col-md-4">
                <div class="d-flex align-items-center flex-column h-100">
                  <div class="swsh-box mb-2">
                    <div class="swsh-header" style="align-items: unset;">
                      <label for="name" class="name-label"></label>
                      <input class="ml-2" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                    </div>
                    <div class="swsh-body row no-gutters">
                      <div class="options w-100 d-flex">
                        <label for="progressBar" class="hp"></label>
                        <div class="d-flex pt-1 pb-1" style="text-align: center;">
                          <input class="ml-1 mr-1" type="text" name="data.health.value" value="{{data.health.value}}"
                            data-dtype="Number" />
                          <span style="font-size: 20px;"> / </span>
                          <input class="ml-1" type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"
                            disabled />
                        </div>
                      </div>
                      <div class="options w-100 d-flex">
                        <div class="temp-hp"><label for="temp-hp">{{localize "PTU.HPTemp"}}</label></div>
                        <div class="d-flex pt-1 pb-1" style="text-align: center;">
                          <input class="ml-1 mr-1" type="text" name="data.tempHp.value" value="{{data.tempHp.value}}" data-dtype="Number">
                          <span style="font-size: 20px;"> / </span>
                          <input class="ml-1" type="text" name="data.tempHp.max" value="{{data.tempHp.max}}" data-dtype="Number">
                        </div>
                      </div>
                      <div class="options w-100 pb-1 pt-1">
                        <div class="progress-bar p{{data.health.percent}}" id="progressBar"></div>
                      </div>
                    </div>
                  </div> 

                  <!-- Action Points -->
                  <div class="w-100 level-box mt-1 mb-1">
                    <div class="swsh-box" style="text-align: center; word-break: keep-all;">
                      <div class="swsh-header">
                        <h3 class="m-auto">{{localize "PTU.ActionPoints"}}</h3>
                      </div>
                      <div class="swsh-body">
                        <div class="resource-content flexrow flex-group-right hp-info">
                          <input type="text" name="data.ap.value" value="{{data.ap.value}}" data-dtype="Number"/>
                          <span> / </span>
                          <input type="text" name="data.ap.max" value="{{data.ap.max}}" data-dtype="Number" disabled/>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Experience + Level -->
                  <div class="w-100 level-box mt-1 mb-1">
                    <div class="swsh-box" style="text-align: center; word-break: keep-all;">
                      <div class="swsh-header">
                        <div class="d-flex w-100 align-items-center justify-content-center">
                          <div class="col-sm-2">
                            <label for="data.level.current">{{localize "PTU.Level"}}:</label>
                          </div>
                          <div class="col-sm-3">
                            <input class="ml-2" type="text" name="data.level.current" value="{{data.level.current}}" data-dtype="Number"
                              disabled />
                          </div>
                        </div>
                      </div>
                      <div class="swsh-header">
                        <div class="d-flex w-100 mt-1 mb-1 align-items-center justify-content-between">
                          {{#if (is "true" (getGameSetting "useDexExp"))}}
                          <div class="col-sm-4">
                            <label for="data.level.milestones">{{localize "PTU.LevelMilestones"}}</label>
                          </div>
                          <div class="col-sm-4">
                            <label for="data.level.dexexp">{{localize "PTU.LevelDexExp"}}</label>
                          </div>
                          <div class="col-sm-4">
                            <label for="data.level.miscexp">{{localize "PTU.LevelMiscExp"}}</label>
                          </div>
                          {{else}}
                            <div class="col-sm-6">
                              <label for="data.level.milestones">{{localize "PTU.LevelMilestones"}}</label>
                            </div>
                            <div class="col-sm-6">
                              <label for="data.level.miscexp">{{localize "PTU.LevelMiscExp"}}</label>
                            </div>
                          {{/if}}
                        </div>
                      </div>
                      <div class="swsh-body">
                        <div class="options w-100 d-flex">
                          <div class="d-flex w-100 pt-1 pb-1" style="text-align: center;">
                            {{#if (is "true" (getGameSetting "useDexExp"))}}
                            <div class="col-sm-4">
                              <input type="text" name="data.level.milestones" value="{{data.level.milestones}}" data-dtype="Number" />
                            </div>
                            <div class="col-sm-4">
                              <input type="text" name="data.level.dexexp" value="{{data.level.dexexp}}" data-dtype="Number" disabled/>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" name="data.level.miscexp" value="{{data.level.miscexp}}" data-dtype="Number" />
                            </div>
                            {{else}}
                              <div class="col-sm-6">
                                <input type="text" name="data.level.milestones" value="{{data.level.milestones}}" data-dtype="Number" />
                              </div>
                              <div class="col-sm-6">
                                <input type="text" name="data.level.miscexp" value="{{data.level.miscexp}}" data-dtype="Number" />
                              </div>
                            {{/if}}
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Inventory -->
          <div class="tab details inventory" data-group="primary" data-tab="inventory">
            <div class="row">
              <div class="col">	
		            <!-- Items -->
                  <div class="swsh-box mt-2 w-100">
                    {{#each actor.items_categorized as | category catname| }}
                      {{> "systems/ptu/templates/partials/item-display-partial.hbs" title=(concat (concat (localize "ITEM.TypeItemPlural") ": ") catname) type="item" data=category category=catname boxed=true filter=../data.item_categories}}
                    {{/each}}
                  </div>
              </div>
              <div class="col">
                <div class="swsh-box mt-2 mb-2">
                  <div class="swsh-header justify-content-center">
                    <h3 for="data.money" class="mr-1">{{localize "PTU.Money"}}</h3>
                  </div>
                  <div class="swsh-body ml-3 mr-3">
                    <input type="text" name="data.money" value="{{data.money}}" data-dtype="Number">
                  </div>
                </div>
                <div class="swsh-box mb-2">
                  <div class="swsh-header justify-content-center">
                    <h3 for="data.item_categories" class="mr-1">{{localize "PTU.ItemCategories"}}</h3>
                  </div>
                  <div class="swsh-body ml-3 mr-3">
                    <div class="d-flex flexrow" style="flex-wrap: wrap; width: 100%;">
                      {{#each data.item_categories as |value category|}}
                        <div class="d-flex flexrow m-1" style="flex: 0 1 31%; align-items: center;">
                          <label for="data.item_categories.{{category}}">{{category}}</label>
                          <input name="data.item_categories.{{category}}" type="checkbox" {{checked value}}>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <!-- Moves Tab -->
          <div class="tab details moves h-100" data-group="primary" data-tab="moves">
            <div class="damage-mod-header swsh-box" style="border: none;">
              <div class="swsh-header" style="padding: 0;">
                <div class="d-flex w-100 mt-1 mb-1">
                  <div class="col-sm-6">
                    <label for="data.modifiers.damageBonus.physical.value">{{localize "PTU.DamageModPhysical"}}</label>
                  </div>
                  <div class="col-sm-6">
                    <label for="data.modifiers.damageBonus.special.value">{{localize "PTU.DamageModSpecial"}}</label>
                  </div>
                </div>
              </div>
              <div class="swsh-body" style="padding: 0;">
                <div class="d-flex w-100" style="margin: 0.1rem 0;">
                  <div class="col-sm-6 small-input">
                    {{> "systems/ptu/templates/partials/mod-field.hbs" 
                      mod=data.modifiers.damageBonus.physical.mod 
                      path="data.modifiers.damageBonus.physical.value" 
                      value=data.modifiers.damageBonus.physical.value 
                      total=data.modifiers.damageBonus.physical.total
                      dtype="Number"
                      modOrigins=(getProperty origins "data.modifiers.damageBonus.physical.mod")
                      flipped=true}}
                  </div>
                  <div class="col-sm-6 small-input">
                    {{> "systems/ptu/templates/partials/mod-field.hbs" 
                      mod=data.modifiers.damageBonus.special.mod 
                      path="data.modifiers.damageBonus.special.value" 
                      value=data.modifiers.damageBonus.special.value 
                      total=data.modifiers.damageBonus.special.total
                      dtype="Number" 
                      modOrigins=(getProperty origins "data.modifiers.damageBonus.special.mod")
                      flipped=true}}
                  </div>
                </div>
              </div>
            </div>

            <!-- Moves -->
            <ol class="inventory-list" style="padding-top: 0.5rem;">
              <li class="inventory-header flexrow" style="background: linear-gradient(45deg, #ffffffbb, #fff, #ffffffbb); border-radius: 5px;">
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 12%; margin-left: 3%;">
                    <h4>{{localize "PTU.MoveLabel"}}</h4>
                </div>
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 8%;">
                  <h4>{{localize "PTU.MoveType"}}</h4>
                </div>
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 7%;">
                  <h4>{{localize "PTU.MoveCategory"}}</h4>
                </div>
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 5%;">
                  <h4>{{localize "PTU.MoveDb"}}</h4>
                </div>
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 13%;">
                  <h4>{{localize "PTU.MoveDamageRoll"}}</h4>
                </div>
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 10%;">
                  <h4>{{localize "PTU.MoveFrequency"}}</h4>
                </div>
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 4%;">
                  <h4>{{localize "PTU.MoveAc"}}</h4>
                </div>
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 13%;">
                  <h4>{{localize "PTU.MoveRange"}}</h4>
                </div>
                <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 20%;"> 
                  <h4>{{localize "PTU.MoveEffect"}}</h4>
                </div>
                <div class="item-controls flexcol" style="flex: 0 0 5%;">
                  <a class="item-control item-create" title="Add move" data-type="move"><i
                      class="fas fa-plus-circle" style="margin-right: 3px;"></i><span
                      class="readable">{{localize "ITEM.AddButton"}}</span></a>
                </div>
              </li>
              <ol class="item-list">
                {{#each actor.moves as | move |}}
                <li class="item flexrow" data-item-id="{{move._id}}">
                  <div class="gen8move rollable" data-id="{{move._id}}"> 
                    <i class="fas fa-dice-d20" style="position:unset; flex: 0 0 3%;"></i>
                  </div>
                  <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 12%;">
                    <h4> 
                      {{move.name}}
                    </h4>
                  </div>
                  <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 8%;">
                    <span class="readable pokemon p8 tight">{{move.data.type}}</span>
                  </div>
                  <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 7%;">
                    <span class="readable pokemon p8 tight">{{move.data.category}}</span>
                  </div>
                  <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 5%;">
                    <span class="readable pokemon p8 tight">{{calcDb move.data}}</span>
                  </div>
                  <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 13%;">
                    <span class="readable pokemon p8 tight">{{calcMoveDb ../data move.data true}}</span>
                  </div>
                  <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 10%;">
                    <span class="readable pokemon p8 tight">{{move.data.frequency}}</span>
                  </div>
                  <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 4%;">
                    <span class="readable pokemon p8 tight">{{move.data.ac}}</span>
                  </div>
                  <div class="item-name flexcol align-items-center align-self-center" style="flex: 0 0 13%;">
                    <span class="readable pokemon p8 tight">{{move.data.range}}</span>
                  </div>
                  <div class="item-name flexcol move-col" style="flex: 0 0 20%;">
                    <span class="move-effect">
                      {{#if move.data.snippet}}
                        <span class="show-until-hover readable pokemon p8 tight">{{move.data.snippet}}</span>
                        <span class="hide-until-hover readable pokemon p8 tight">{{move.data.effect}}</span>
                      {{else}}
                        <span class="readable pokemon p8 tight">{{move.data.effect}}</span>
                      {{/if}}
                    </span>
                  </div>
                  <div class="item-controls" style="flex: 0 0 5%; justify-content: center; display:flex;">
                    <a class="item-control item-to-chat" title="Send move to chat"><i class="fas fa-external-link-alt"></i></a>
                    <a class="item-control item-edit" title="Edit move"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete move"><i class="fas fa-trash"></i></a>
                  </div>
                </li>
                {{/each}}
              </ol>
            </ol>

            <!-- Inheritance List -->
          </div>

          <!-- Features & Edges Tab -->
          <div class="tab details feats" data-group="primary" data-tab="features">
            <div class="row">
              <div class="col">
                <!-- Feats -->
                <div class="swsh-box mt-2 w-100">
                  <div class="swsh-body w-100" style="display: block;">
                    {{> "systems/ptu/templates/partials/item-display-partial.hbs" title=(localize "ITEM.TypeFeatPlural") type="feat" data=actor.feats}}
                  </div>
                </div>
              </div>
              <div class="col">
                <!-- Edges-->
                <div class="swsh-box mt-2 w-100">
                  <div class="swsh-body w-100" style="display: block;">
                    {{> "systems/ptu/templates/partials/item-display-partial.hbs" title=(localize "ITEM.TypeEdgePlural") type="edge" data=actor.edges}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Combat Tab -->
          <div class="tab details combat h-100" data-group="primary" data-tab="combat">
            <div class="row justify-content-between p-2 h-100">
              <!-- Left Col -->
              <div class="col-sm-12 col-md-4">
                <div class="d-flex align-items-end flex-column h-100">
                  <!-- Stats -->
                  <div class="w-100 stats stat-block mb-2">
                    <div class="row no-gutters header">
                      <div class="col-sm-2 pt-2 pb-2 key stat-header">{{localize "PTU.StatsLabel"}}</div>
                      <div class="col-sm-2 mt-2 mb-2">{{localize "PTU.StatsBase"}}</div>
                      <div class="col-sm-2 mt-2 mb-2">{{localize "PTU.StatsMod"}}</div>
                      <div class="col-sm-2 mt-2 mb-2" style="font-size: 9px;">{{localize "PTU.StatsLevelup"}}</div>
                      <div class="col-sm-2 mt-2 mb-2">{{localize "PTU.StatsStage"}}</div>
                      <div class="col-sm-2 mt-2 mb-2">{{localize "PTU.StatsTotal"}}</div>
                    </div>
                    {{#each data.stats as |stat key|}}
                    <div class="row no-gutters {{key}}">
                      <div class="stats {{key}} col-sm-2 key">
                        <label for="data.stats.{{key}}.value" class="resource-label">{{key}}</label>
                      </div>
                      <div class="stats {{key}} base col-sm-2">
                        <input type="text" name="data.stats.{{key}}.value" value="{{stat.value}}" data-dtype="Number"
                          disabled />
                      </div>
                      <div class="stats {{key}} mod col-sm-2">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          path=(concat "data.stats." key ".mod") 
                          value=stat.mod
                          dtype="Number" 
                          mod=""
                          total="ignored"
                          modOrigins=(getProperty ../actor.origins (concat "data.stats." key ".mod"))
                          flipped=(gt 3 @index)}}
                      </div>
                      <div class="stats {{key}} levelUp col-sm-2">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          path=(concat "data.stats." key ".levelUp") 
                          value=stat.levelUp
                          dtype="Number" 
                          mod=""
                          total="ignored"
                          modOrigins=(getProperty ../actor.origins (concat "data.stats." key ".levelUp"))
                          flipped=(gt 3 @index)}}
                      </div>
                      <div class="stats stage stage col-sm-2">
                        {{#if (isdefined stat.stage)}}
                          {{> "systems/ptu/templates/partials/mod-field.hbs" 
                            path=(concat "data.stats." key ".stage") 
                            value=stat.stage
                            dtype="Number" 
                            mod=""
                            total="ignored"
                            modOrigins=(getProperty ../actor.origins (concat "data.stats." key ".stage"))
                            flipped=(gt 3 @index)}}
                        {{/if}}
                      </div>
                      <div class="stats {{key}} total col-sm-2">
                        <input type="text" name="data.stats.{{key}}.total" value="{{stat.total}}" data-dtype="Number"
                          disabled />
                      </div>
                    </div>
                    {{/each}}
                    {{#if data.levelUpPoints}}
                    <div class="row no-gutters levelUpPoints">
                      <div class="col-sm-8">
                        <label for="data.levelUpPoints" class="resource-label">{{localize "PTU.StatsRemainingLevelupPoints"}}:</label>
                      </div>
                      <div class="col">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          path="data.levelUpPoints"
                          value=data.levelUpPoints
                          dtype="Number" 
                          mod=""
                          total=data.levelUpPoints
                          modOrigins=(getProperty origins "data.levelUpPoints")
                          disabled=true}}
                      </div>
                    </div>
                    {{/if}}
                  </div>

                  <!-- Abilities -->
                  <div class="swsh-box mb-2 w-100">
                    <div class="swsh-body" style="display: block;">
                      {{> "systems/ptu/templates/partials/item-display-partial.hbs" title=(localize "ITEM.TypeAbilityPlural") type="ability" data=actor.abilities}}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Middle Col -->
              <div class="col-sm-12 col-md-5">
                <div class="d-flex align-items-center flex-column h-100">
                  <!-- Evasion -->
                  <div class="swsh-box mb-2 w-100" style="text-align: center; word-break: keep-all;">
                    <div class="swsh-header">
                      <div class="d-flex w-100 mt-1 mb-1 align-items-center">
                        <div class="col-sm-4">
                          <label for="data.evasion.physical">{{{localize "PTU.EvasionPhysical"}}}</label>
                        </div>
                        <div class="col-sm-4">
                          <label for="data.evasion.special">{{{localize "PTU.EvasionSpecial"}}}</label>
                        </div>
                        <div class="col-sm-4">
                          <label for="data.evasion.speed">{{{localize "PTU.EvasionSpeed"}}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="swsh-body" style="display: block;">
                      <div class="d-flex w-100 mt-1 mb-1">
                        <div class="col-sm-4">
                          {{> "systems/ptu/templates/partials/mod-field.hbs" 
                            path="data.evasion.physical"
                            value=data.evasion.physical
                            dtype="Number" 
                            mod=""
                            total=data.evasion.physical
                            modOrigins=(getProperty origins "data.evasion.physical")
                            disabled=true
                            flipped=true}}
                        </div>
                        <div class="col-sm-4">
                          {{> "systems/ptu/templates/partials/mod-field.hbs" 
                            path="data.evasion.special"
                            value=data.evasion.special
                            dtype="Number" 
                            mod=""
                            total=data.evasion.special
                            modOrigins=(getProperty origins "data.evasion.special")
                            disabled=true
                            flipped=true}}
                        </div>
                        <div class="col-sm-4">
                          {{> "systems/ptu/templates/partials/mod-field.hbs" 
                            path="data.evasion.speed"
                            value=data.evasion.speed
                            dtype="Number" 
                            mod=""
                            total=data.evasion.speed
                            modOrigins=(getProperty origins "data.evasion.speed")
                            disabled=true
                            flipped=true}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Injuries -->
                  <div class="swsh-box mb-2 w-100" style="text-align: center; word-break: keep-all;">
                    <div class="swsh-header">
                      <div class="d-flex w-100 mt-1 mb-1 align-items-center">
                        <div class="col-sm-6">
                          <label for="data.health.injuries">{{localize "PTU.Injuries"}}</label>
                        </div>
                        <div class="col-sm-6">
                          <label for="data.health.total">{{localize "PTU.TotalHealth"}}<br><small>{{localize "PTU.IgnoringInjuries"}}</small></label>
                        </div>
                      </div>
                    </div>
                    <div class="swsh-body" style="display: block;">
                      <div class="d-flex w-100 mt-1 mb-1">
                        <div class="col-sm-6">
                          <input name="data.health.injuries" type="text" value="{{data.health.injuries}}"
                            data-dtype="Number" />
                        </div>
                        <div class="col-sm-6">
                          <input type="text" name="data.health.total" value="{{data.health.total}}" data-dtype="Number"
                            disabled />
                        </div>
                      </div>
                      {{#if (or (bigger data.health.injuries 0) (is true data.modifiers.hardened))}}
                      <div class="d-flex w-100 mt-1 mb-1">
                        <ul style="position: relative; left: 15px; width: 96%; line-height: 15px; text-align: start;">
                          {{#if data.modifiers.hardened}}<li>{{localize "PTU.HardenedEffect0"}}</li>{{/if}}
                          {{#if (and (is "true" data.modifiers.hardened) (biggerOrEqual data.health.injuries 1))}}<li>{{localize "PTU.HardenedEffect1"}}</li>{{/if}}
                          {{#if (and (is "true" data.modifiers.hardened) (biggerOrEqual data.health.injuries 3))}}<li>{{localize "PTU.HardenedEffect2"}}</li>{{/if}}
                          {{#if (biggerOrEqual data.health.injuries 5)}}<li>{{localize "PTU.InjuryEffect1"}}</li>{{/if}}
                          {{#if (and (is "true" data.modifiers.hardened) (biggerOrEqual data.health.injuries 5))}}<li>{{localize "PTU.HardenedEffect3"}}</li>{{/if}}
                          {{#if (and (not "true" data.modifiers.hardened) (biggerOrEqual data.health.injuries 5))}}<li>{{localize "PTU.InjuryEffect2" (ld "injuries" data.health.injuries)}}</li>{{/if}}
                          {{#if (and (is "true" data.modifiers.hardened) (biggerOrEqual data.health.injuries 7))}}<li>{{localize "PTU.HardenedEffect4"}}</li>{{/if}}
                          {{#if (and (is "true" data.modifiers.hardened) (biggerOrEqual data.health.injuries 9))}}<li>{{localize "PTU.HardenedEffect5"}}</li>{{/if}}
                          {{#if (and (not "true" data.modifiers.hardened) (biggerOrEqual data.health.injuries 10))}}<li><b>{{localize "PTU.InjuryEffect3"}}</b></li>{{/if}}
                        </ul>
                      </div>
                      {{/if}}
                    </div>
                  </div>

                  <!-- Capabilities -->
                  <div class="swsh-box mb-2 w-100">
                    <div class="swsh-header">
                      <h3 class="item-name flexrow">{{localize "ITEM.TypeCapabilityPlural"}}</h3>
                    </div>
                    <div class="swsh-body readable w-100 align-items-center" style="white-space: nowrap;">
                      {{#each data.capabilities as |capability key|}}
                      {{#if (not key "Other")}}
                      <div class="col-sm-4 p11 mb-1">
                        <label for="data.capabilities.{{key}}">{{key}}</label>
                      </div>
                      <div class="col-sm-2 mb-1" style="text-align: center;">
                        <input type="text" name="data.capabilities.{{key}}" value="{{capability}}" data-dtype="Number"
                          disabled />
                      </div>
                      {{/if}}
                      {{/each}}
                    </div>

                    <!-- Other Capabilities -->
                    <div class="swsh-body w-100 mt-2" style="display: block;">
                      {{> "systems/ptu/templates/partials/item-display-partial.hbs" title=(localize "PTU.CapabilityOther") type="capability" data=actor.capabilities}}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Right Col -->
              <div class="col-sm-12 col-md-3">
                <div class="d-flex align-items-center flex-column h-100">
                  <!-- Item -->
                  <div class="w-100 level-box mb-1">
                    <div class="swsh-box" style="text-align: center; word-break: keep-all;">
                      <div class="swsh-header">
                        <div class="d-flex w-100 mt-1 mb-1">
                          <div class="col">
                            <label for="data.heldItem">{{localize "PTU.HeldItem"}}</label>
                          </div>
                        </div>
                      </div>
                      <div class="swsh-body">
                        <div class="d-flex w-100 mt-1 mb-1">
                          <div class="col">
                            <input id="heldItemInput" type="text" name="data.heldItem" value="{{data.heldItem}}" />
                          </div>
                        </div>
                      </div>
                      <!-- Item Effect -->
                      <div class="swsh-header">
                        <h3 class="m-auto">{{localize "PTU.ItemEffect"}}</h3>
                      </div>
                      <div class="swsh-body w-100">
                        <textarea style="min-height: 100px;" id="itemDescription" disabled>{{itemDescription data.heldItem}}</textarea>
                      </div>
                      <!-- Digestion Buff -->
                      <div class="swsh-header">
                        <div class="d-flex w-100 mt-1 mb-1">
                          <div class="col">
                            <label for="data.digestionBuff">{{localize "PTU.DigestionBuff"}}</label>
                          </div>
                        </div>
                      </div>
                      <div class="swsh-body">
                        <div class="d-flex w-100 mt-1 mb-1">
                          <div class="col">
                            <input id="digestionBuffInput" type="text" name="data.digestionBuff" value="{{data.digestionBuff}}" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Save Checks -->
                    <div class="swsh-box d-flex flex-column mt-1 mb-1" style="text-align: center; word-break: keep-all;">
                      <div class="swsh-header" >
                        <div class="d-flex w-100 mt-1 mb-1 align-items-center">
                          <div class="col-sm-12">
                            <label for="data.modifiers.saveChecks.value">{{localize "PTU.SaveCheckLabel"}}</label>
                          </div>
                        </div>
                      </div>
                      <div class="swsh-body d-flex flex-column h-100" style="display: block;">
                        <div class="d-flex w-100 mt-1 mb-1">
                          <div class="col-sm-12">
                            <input name="data.modifiers.saveChecks.value" type="text" value="{{data.modifiers.saveChecks.value}}" data-dtype="Number" />
                          </div>
                        </div>
                        <div class="d-flex w-100 mt-1 mb-1">
                          <div class="col-sm-12">
                            <button class="btn rollable save">{{localize "PTU.SaveCheckAction"}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Extra Tab -->
          <div class="tab details extra" data-group="primary" data-tab="extra">
            <div class="row">
              <div class="col">
                <!-- Modifiers -->
                <div class="swsh-box w-100 mb-2" style="text-align: center; word-break: keep-all;">
                  <div class="swsh-header">
                    <div class="d-flex w-100 mt-1 mb-1" style="font-size: 13px; justify-content: center;">
                      <h3>{{localize "PTU.Modifiers"}}</h3>
                    </div>
                  </div>
                  <div class="swsh-header">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-6">
                        <label for="data.modifiers.initiative.value">{{localize "PTU.Initiative"}} {{localize "PTU.Bonus"}}</label>
                      </div>
                      <div class="col-sm-6">
                        <label for="data.modifiers.statPoints.value">{{localize "PTU.StatPoint"}} {{localize "PTU.Bonus"}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="swsh-body">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-6">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          mod=data.modifiers.initiative.mod 
                          path="data.modifiers.initiative.value" 
                          value=data.modifiers.initiative.value 
                          total=data.modifiers.initiative.total
                          dtype="Number"
                          modOrigins=(getProperty origins "data.modifiers.initiative.mod")
                          flipped=true}}
                      </div>
                      <div class="col-sm-6">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          mod=data.modifiers.statPoints.mod 
                          path="data.modifiers.statPoints.value" 
                          value=data.modifiers.statPoints.value 
                          total=data.modifiers.statPoints.total
                          dtype="Number" 
                          modOrigins=(getProperty origins "data.modifiers.statPoints.mod")
                          flipped=true}}
                      </div>
                    </div>
                  </div>
                  <div class="swsh-header pt-1">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-4">
                        <label for="data.modifiers.acBonus.value">{{localize "PTU.Accuracy"}} {{localize "PTU.Bonus"}}</label>
                      </div>
                      <div class="col-sm-4 fs-10">
                        <label for="data.modifiers.critRange.value">{{localize "PTU.CritRange"}} {{localize "PTU.Bonus"}}</label>
                      </div>
                      <div class="col-sm-4 fs-10">
                        <label for="data.modifiers.effectRange.value">{{localize "PTU.EffectRange"}} {{localize "PTU.Bonus"}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="swsh-body">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-4">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          mod=data.modifiers.acBonus.mod 
                          path="data.modifiers.acBonus.value" 
                          value=data.modifiers.acBonus.value 
                          total=data.modifiers.acBonus.total
                          dtype="Number" 
                          modOrigins=(getProperty origins "data.modifiers.acBonus.mod")
                          flipped=true}}
                      </div>
                      <div class="col-sm-4">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          mod=data.modifiers.critRange.mod 
                          path="data.modifiers.critRange.value" 
                          value=data.modifiers.critRange.value 
                          total=data.modifiers.critRange.total
                          dtype="Number" 
                          modOrigins=(getProperty origins "data.modifiers.critRange.mod")
                          flipped=true}}
                      </div>
                      <div class="col-sm-4">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          mod=data.modifiers.effectRange.mod 
                          path="data.modifiers.effectRange.value" 
                          value=data.modifiers.effectRange.value 
                          total=data.modifiers.effectRange.total
                          dtype="Number" 
                          modOrigins=(getProperty origins "data.modifiers.effectRange.mod")
                          flipped=true}}
                      </div>
                    </div>
                  </div>
                  <div class="swsh-header pt-1">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col">
                        <label for="data.modifiers.damageReduction">{{localize "PTU.DamageReduction"}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="swsh-header pt-1">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-6">
                        <label for="data.modifiers.damageReduction.physical.value">{{localize "PTU.Physical"}}</label>
                      </div>
                      <div class="col-sm-6">
                        <label for="data.modifiers.damageReduction.special.value">{{localize "PTU.Special"}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="swsh-body">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-6">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          mod=data.modifiers.damageReduction.physical.mod 
                          path="data.modifiers.damageReduction.physical.value" 
                          value=data.modifiers.damageReduction.physical.value 
                          total=data.modifiers.damageReduction.physical.total
                          dtype="Number" 
                          modOrigins=(getProperty origins "data.modifiers.damageReduction.physical.mod")}}
                      </div>
                      <div class="col-sm-6">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          mod=data.modifiers.damageReduction.special.mod 
                          path="data.modifiers.damageReduction.special.value" 
                          value=data.modifiers.damageReduction.special.value 
                          total=data.modifiers.damageReduction.special.total
                          dtype="Number" 
                          modOrigins=(getProperty origins "data.modifiers.damageReduction.special.mod")}}
                      </div>
                    </div>
                  </div>
                  <div class="swsh-header pt-1">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-4">
                        <label for="data.modifiers.evasion.physical.value">{{localize "PTU.EvasionPhysicalShort"}} {{localize "PTU.EvasionShort"}} {{localize "PTU.Bonus"}}</label>
                      </div>
                      <div class="col-sm-4">
                        <label for="data.modifiers.evasion.special.value">{{localize "PTU.EvasionSpecialShort"}} {{localize "PTU.EvasionShort"}} {{localize "PTU.Bonus"}}</label>
                      </div>
                      <div class="col-sm-4">
                        <label for="data.modifiers.evasion.speed.value">{{localize "PTU.EvasionSpeedShort"}} {{localize "PTU.EvasionShort"}} {{localize "PTU.Bonus"}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="swsh-body">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-4">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          mod=data.modifiers.evasion.physical.mod 
                          path="data.modifiers.evasion.physical.value" 
                          value=data.modifiers.evasion.physical.value 
                          total=data.modifiers.evasion.physical.total
                          dtype="Number" 
                          modOrigins=(getProperty origins "data.modifiers.evasion.physical.mod")}}
                      </div>
                      <div class="col-sm-4">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          mod=data.modifiers.evasion.special.mod 
                          path="data.modifiers.evasion.special.value" 
                          value=data.modifiers.evasion.special.value 
                          total=data.modifiers.evasion.special.total 
                          dtype="Number" 
                          modOrigins=(getProperty origins "data.modifiers.evasion.special.mod")}}
                      </div>
                      <div class="col-sm-4">
                        {{> "systems/ptu/templates/partials/mod-field.hbs" 
                          mod=data.modifiers.evasion.speed.mod 
                          path="data.modifiers.evasion.speed.value" 
                          value=data.modifiers.evasion.speed.value 
                          total=data.modifiers.evasion.speed.total
                          dtype="Number" 
                          modOrigins=(getProperty origins "data.modifiers.evasion.speed.mod")}}
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Skill Background -->
                <div class="swsh-box w-100 mb-2" style="text-align: center;">
                  <div class="swsh-header">
                    <div class="d-flex w-100 mt-1" style="font-size: 13px; justify-content: center;">
                        <h3>{{localize "PTU.SkillBackground"}}</h3>
                    </div>
                  </div>
                  <div class="swsh-header" style="background-color: #fff3cd;">
                    <div class="d-flex w-100 mb-1" style="justify-content: center;">
                        <p class="fs-8 ml-4 mr-4" style="color: #856404;">{{{localize "PTU.SkillBackgroundNotice"}}}</p>
                    </div>
                  </div>
                  <div class="swsh-header">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-4">
                        <label for="data.background.pathetic.one">{{localize "PTU.SkillPathetic"}} #1</label>
                      </div>
                      <div class="col-sm-4">
                        <label for="data.background.pathetic.two">{{localize "PTU.SkillPathetic"}} #2</label>
                      </div>
                      <div class="col-sm-4">
                        <label for="data.background.pathetic.three">{{localize "PTU.SkillPathetic"}} #3</label>
                      </div>
                    </div>
                  </div>
                  <div class="swsh-body">
                    <div class="d-flex w-100 mt-1 mb-1 fs-9">
                      <div class="col-sm-4">
                        {{#select data.background.pathetic.one}}
                        <select name="data.background.pathetic.one">
                          <option value="blank">{{localize "PTU.SelectNone"}}</option>
                          {{#each skills as | skill key |}}
                          <option value="{{key}}">{{skill.label}}</option>
                          {{/each}}
                        </select>
                        {{/select}}
                      </div>
                      <div class="col-sm-4">
                        {{#select data.background.pathetic.two}}
                        <select name="data.background.pathetic.two">
                          <option value="blank">{{localize "PTU.SelectNone"}}</option>
                          {{#each skills as | skill key |}}
                          <option value="{{key}}">{{skill.label}}</option>
                          {{/each}}
                        </select>
                        {{/select}}
                      </div>
                      <div class="col-sm-4">
                        {{#select data.background.pathetic.three}}
                        <select name="data.background.pathetic.three">
                          <option value="blank">{{localize "PTU.SelectNone"}}</option>
                          {{#each skills as | skill key |}}
                          <option value="{{key}}">{{skill.label}}</option>
                          {{/each}}
                        </select>
                        {{/select}}
                      </div>
                    </div>
                  </div>
                  <div class="swsh-header">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-6">
                        <label for="data.background.novice">{{localize "PTU.SkillNovice"}} {{localize "PTU.Skill"}}</label>
                      </div>
                      <div class="col-sm-6">
                        <label for="data.background.adept">{{localize "PTU.SkillAdept"}} {{localize "PTU.Skill"}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="swsh-body">
                    <div class="d-flex w-100 mt-1 mb-1 fs-9">
                      <div class="col-sm-6">
                        {{#select data.background.novice}}
                        <select name="data.background.novice">
                          <option value="blank">{{localize "PTU.SelectNone"}}</option>
                          {{#each skills as | skill key |}}
                          <option value="{{key}}">{{skill.label}}</option>
                          {{/each}}
                        </select>
                        {{/select}}
                      </div>
                      <div class="col-sm-6">
                        {{#select data.background.adept}}
                        <select name="data.background.adept">
                          <option value="blank">{{localize "PTU.SelectNone"}}</option>
                          {{#each skills as | skill key |}}
                          <option value="{{key}}">{{skill.label}}</option>
                          {{/each}}
                        </select>
                        {{/select}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col h-100">
                <!-- Biography -->
                <div class="swsh-box mb-2"
                    style="text-align: center; word-break: keep-all;">
                  <div class="swsh-header">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-3">
                        <label for="data.age">{{localize "PTU.Age"}}:</label>
                      </div>
                      <div class="col-sm-3">
                        <label for="data.sex">{{localize "PTU.Sex"}}:</label>
                      </div>
                      <div class="col-sm-3">
                        <label for="data.height">{{localize "PTU.Height"}}:</label>
                      </div>
                      <div class="col-sm-3">
                        <label for="data.weight">{{localize "PTU.Weight"}}:</label>
                      </div>
                    </div>
                  </div>
                  <div class="swsh-body">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-3">
                        <input
                          name="data.age"
                          type="text"
                          value="{{data.age}}"
                          data-dtype="Number"
                        />
                      </div>
                      <div class="col-sm-3">
                        <input
                          type="text"
                          name="data.sex"
                          value="{{data.sex}}"
                        />
                      </div>
                      <div class="col-sm-3">
                        <input
                          type="text"
                          name="data.height"
                          value="{{data.height}}"
                        />
                      </div>
                      <div class="col-sm-3">
                        <input
                          type="text"
                          name="data.weight"
                          value="{{data.weight}}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swsh-box h-25 w-100 mb-2 red">
                  <div class="swsh-header">
                    <h3>{{localize "PTU.PhysicalDescription"}}</h3>
                  </div>
                  <div class="swsh-body h-90">
                    {{editor content=data.biography.physicalDescription target="data.biography.physicalDescription" button=true owner=owner editable=editable}}
                  </div>
                </div>
                <div class="swsh-box h-35 w-100 mb-2 yellow">
                  <div class="swsh-header">
                    <h3>{{localize "PTU.Background"}}</h3>
                  </div>
                  <div class="swsh-body h-90">
                    {{editor content=data.biography.background target="data.biography.background" button=true owner=owner editable=editable}}
                  </div>
                </div>
                <div class="swsh-box h-35 w-100 mb-2 purple">
                  <div class="swsh-header">
                    <h3>{{localize "PTU.Personality"}}</h3>
                  </div>
                  <div class="swsh-body h-90">
                    {{editor content=data.biography.personality target="data.biography.personality" button=true owner=owner editable=editable}}
                  </div>
                </div>
                <div class="swsh-box h-35 w-100 mb-2 green">
                  <div class="swsh-header">
                    <h3>{{localize "PTU.Goals"}}</h3>
                  </div>
                  <div class="swsh-body h-90">
                    {{editor content=data.biography.goals target="data.biography.goals" button=true owner=owner editable=editable}}
                  </div>
                </div>
                <div class="swsh-box h-35 w-100 mb-2 green">
                  <div class="swsh-header">
                    <h3>{{localize "PTU.Dreams"}}</h3>
                  </div>
                  <div class="swsh-body h-90">
                    {{editor content=data.biography.dreams target="data.biography.dreams" button=true owner=owner editable=editable}}
                  </div>
                </div>
                <div class="swsh-box h-35 w-100 mb-2 green">
                  <div class="swsh-header">
                    <h3>{{localize "PTU.Obsessions"}}</h3>
                  </div>
                  <div class="swsh-body h-90">
                    {{editor content=data.biography.obsessions target="data.biography.obsessions" button=true owner=owner editable=editable}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Dex -->
          <div class="tab details dex" data-group="primary" data-tab="dex">
            <div class="row">
              <!-- Seen -->
              <div class="col">
                <div class="swsh-box mt-2 w-100">
                  <div class="swsh-body w-100" style="display: block;">
                    {{> "systems/ptu/templates/partials/item-display-partial.hbs" title=(localize "ITEM.DexEntrySeen") type="dexentry" data=actor.dex.seen}}
                  </div>
                </div>
              </div>
              <!-- Owned -->
              <div class="col">
                <div class="swsh-box mt-2 w-100">
                  <div class="swsh-body w-100" style="display: block;">
                    {{> "systems/ptu/templates/partials/item-display-partial.hbs" title=(localize "ITEM.DexEntryOwned") type="dexentry" data=actor.dex.owned}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Effects Tab -->
          <div class="tab details effects" data-group="primary" data-tab="effects">
            <div class="h-100 swsh-box">
              <div class="swsh-header pl-2 effect-header">
                <h3 style="flex: 1 1 50%">{{localize "PTU.ActiveEffects"}}</h3>
                <div class="item-controls pr-1 flexcol" style="flex: 0 0 7%;">
                  <a class="item-control item-create" data-type="ActiveEffect" title="Add Effect"><i
                      class="fas fa-plus-circle" style="margin-right: 3px;"></i><span
                      class="readable">{{localize "ITEM.AddButton"}}</span></a>
              </div>
              </div>
              <div class="swsh-body pt-3 p-2">
                {{> "systems/ptu/templates/partials/active-effects.hbs"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sheet-footer">
    <div class="tabs">
      <ul class="sheet-tabs tabs buttons" data-group="primary">
        <li><button class="item" data-tab="stats">{{localize "PTU.TabsSkills"}}</button></li>
        <li><button class="item" data-tab="inventory">{{localize "PTU.TabsInventory"}}</button></li>
        <li><button class="item" data-tab="features">{{localize "PTU.TabsFeatsAndEdges"}}</button></li>
        <li><button class="item" data-tab="combat">{{localize "PTU.TabsCombat"}}</button></li>
        <li><button class="item" data-tab="moves">{{localize "PTU.TabsMoves"}}</button></li>
        <li><button class="item" data-tab="extra">{{localize "PTU.TabsExtra"}}</button></li>
        <li><button class="item" data-tab="dex">{{localize "PTU.TabsDex"}}</button></li>
        <li><button class="item" data-tab="effects">{{localize "PTU.TabsEffects"}}</button></li>
      </ul>
    </div>
  </div>
</form>
