<form class="{{cssClass}} container-fluid" autocomplete="off" style="padding-left: unset;">
  <div class="row justify-content-between" style="height: 96%;">
    <div class="col-sm-12 col-md-8" style="padding-left: unset;">
      <div class="panel character h-100">
        <div class="sheet-body no-hd h-100">
          <!-- Stats Tab -->
          <div class="tab details stats h-100" data-group="primary" data-tab="stats">
            <div class="d-flex align-items-end flex-column h-100">
              <!-- Stats -->
              <div class="w-100 stats stat-block mb-2">
                <div class="row no-gutters header">
                  <div class="col-sm-2 pt-2 pb-2 key stat-header">Stats</div>
                  <div class="col-sm-2 mt-2 mb-2">Base</div>
                  <div class="col-sm-2 mt-2 mb-2">Mod</div>
                  <div class="col-sm-2 mt-2 mb-2" style="font-size: 9px;">Level-Up</div>
                  <div class="col-sm-2 mt-2 mb-2">Stage</div>
                  <div class="col-sm-2 mt-2 mb-2">Total</div>
                </div>
                {{#each data.stats as |stat key|}}
                <div class="row no-gutters {{key}}">
                  <div class="stats {{key}} col-sm-2 key">
                    <label for="data.stats.{{key}}.value" class="resource-label">{{key}}</label>
                  </div>
                  <div class="stats {{key}} base col-sm-2">
                    <input type="text" name="data.stats.{{key}}.value" value="{{stat.value}}" data-dtype="Number"
                      disabled />
                  </div>
                  <div class="stats {{key}} mod col-sm-2">
                    <input type="text" name="data.stats.{{key}}.mod" value="{{stat.mod}}" data-dtype="Number" />
                  </div>
                  <div class="stats {{key}} levelUp col-sm-2">
                    <input type="text" name="data.stats.{{key}}.levelUp" value="{{stat.levelUp}}" data-dtype="Number" />
                  </div>
                  <div class="stats stage stage col-sm-2">
                    {{#if (isdefined stat.stage)}}
                    <input type="text" name="data.stats.{{key}}.stage" value="{{stat.stage}}" data-dtype="Number" />
                    {{/if}}
                  </div>
                  <div class="stats {{key}} total col-sm-2">
                    <input type="text" name="data.stats.{{key}}.total" value="{{stat.total}}" data-dtype="Number"
                      disabled />
                  </div>
                </div>
                {{/each}}
                {{#if data.levelUpPoints}}
                <div class="row no-gutters levelUpPoints">
                  <div class="col-sm-8">
                    <label for="data.levelUpPoints" class="resource-label">Remaining Level-Up Points:</label>
                  </div>
                  <div class="col">
                    <input type="text" name="data.levelUpPoints" value="{{data.levelUpPoints}}" data-dtype="Number"
                      disabled />
                  </div>
                </div>
                {{/if}}
              </div>

              <!-- Nature + Experience + Level -->
              <div class="w-100 level-box mb-2">
                <div class="hgss-box" style="text-align: center; word-break: keep-all;">
                  <div class="hgss-header">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-5">
                        <label for="data.nature.value">Nature:</label>
                      </div>
                      <div class="col-sm-4">
                        <label for="data.level.exp">Experience:</label>
                      </div>
                      <div class="col-sm-3">
                        <label for="data.level.current">Level:</label>
                      </div>
                    </div>
                  </div>
                  <div class="hgss-body">
                    <div class="d-flex w-100 mt-1 mb-1">
                      <div class="col-sm-5">
                        {{#select data.nature.value}}
                        <select name="data.nature.value">
                          {{#each natures as | nature key |}}
                          <option value="{{key}}">{{key}}</option>
                          {{/each}}
                        </select>
                        {{/select}}
                      </div>
                      <div class="col-sm-4">
                        <input type="text" name="data.level.exp" value="{{data.level.exp}}" data-dtype="Number" />
                      </div>
                      <div class="col-sm-3">
                        <input type="text" name="data.level.current" value="{{data.level.current}}" data-dtype="Number"
                          disabled />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Abilities -->
              <div class="hgss-box mt-auto w-100">
                <div class="hgss-body" style="display: block;">
                  <ol class="inventory-list">
                    <li class="inventory-header flexrow">
                      <h3 class="item-name flexrow">Abilities</h3>
                      <div class="item-controls">
                        <a class="item-control item-create" title="Add ability" data-type="ability"><i
                            class="fas fa-plus-circle" style="margin-right: 3px;"></i><span
                            class="readable">Add</span></a>
                      </div>
                    </li>
                    <ol class="item-list">
                      {{#each actor.abilities as | ability |}}
                      <li class="item flexrow" data-item-id="{{ability._id}}">
                        <div class="item-name flexrow">
                          <h4 title="Toggle Info ({{ability.name}})" data-toggle="collapse"
                            data-target="#{{ability._id}}-collapse" aria-expanded="false"
                            aria-controls="{{ability._id}}-collapse">
                            <i class="fas fa-info-circle info-icon"></i>
                            {{ability.name}}
                          </h4>
                        </div>
                        <div class="item-controls" style="flex: 0 0 55px; justify-content: center; display:flex;">
                          <a class="item-control item-edit" title="Edit ability"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete ability"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="collapse readable lh-16 item-summary" id="{{ability._id}}-collapse">
                          {{ability.data.effect}}
                        </div>
                      </li>
                      {{/each}}
                    </ol>
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <!-- Moves Tab -->
          <div class="tab details moves" data-group="primary" data-tab="moves">
            <!-- Moves -->
            <div class="hgss-box w-100">
              <div class="hgss-body" style="display: block;">
                <ol class="inventory-list">
                  <li class="inventory-header flexrow">
                    <h3 class="item-name flexrow">Moves</h3>
                    <div class="item-controls">
                      <a class="item-control item-create" title="Add move" data-type="move"><i
                          class="fas fa-plus-circle" style="margin-right: 3px;"></i><span
                          class="readable">Add</span></a>
                    </div>
                  </li>
                  <ol class="item-list">
                    {{#each actor.moves as | move |}}
                    <li class="item flexrow" data-item-id="{{move._id}}">
                      <div class="itemInline rollable" data-critrange="{{calcCritRange ../data}}" data-roll="{{calcMoveDb ../data move.data}}" data-label="{{move.name}}" data-ac="{{calcAc move.data}}" data-type="{{move.data.category}}"> 
                        <i class="fas fa-dice-d20" style="position:unset;"></i>
                      </div>
                      <div class="item-name flexrow">
                        <h4 title="Toggle Info ({{move.name}})" data-toggle="collapse"
                          data-target="#{{move._id}}-collapse" aria-expanded="false"
                          aria-controls="{{move._id}}-collapse">
                          <i class="fas fa-info-circle info-icon"></i>
                          {{move.name}}
                        </h4>
                      </div>
                      <div class="item-controls" style="flex: 0 0 55px; justify-content: center; display:flex;">
                        <a class="item-control item-edit" title="Edit move"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete move"><i class="fas fa-trash"></i></a>
                      </div>
                      <div class="collapse readable lh-16 item-summary" id="{{move._id}}-collapse">
                        <div class="content move-grid">
                          Frequency: <span class="readable pokemon p8">{{move.data.frequency}}</span>
                          DB: <span class="readable pokemon p8" style="white-space: nowrap;">{{calcDb move.data}}: {{calcMoveDb ../data move.data}}</span>
                          Category: <span class="readable pokemon p8">{{move.data.category}}</span>
                          Type: <span class="readable pokemon p8">{{move.data.type}}</span>
                          AC: <span class="readable pokemon p8">{{move.data.ac}}</span>
                          Range: <span class="readable pokemon p8">{{move.data.range}}</span>
                          <span>Effect: <span class="readable p8 pokemon">{{{move.data.effect}}}</span></span>
                        </div>
                      </div>
                    </li>
                    {{/each}}
                  </ol>
                </ol>
              </div>
            </div>

            <!-- Inheritance List -->
          </div>

          <!-- Capabilities & Abilities Tab -->
          <div class="tab details feats" data-group="primary" data-tab="capability">
            <!-- Capabilities -->
            <div class="hgss-box mt-auto w-100">
              <div class="hgss-header">
                <h3 class="item-name flexrow">Capabilities</h3>
              </div>
              <div class="hgss-body readable w-100 align-items-center" style="white-space: nowrap;">
                {{#each data.capabilities as |capability key|}}
                {{#if (and (and (not key "Other") (not key "Naturewalk")) (gt capability 0))}}
                <div class="col-sm-4 p11 mb-1">
                  <label for="data.capabilities.{{key}}">{{key}}:</label>
                </div>
                <div class="col-sm-2 mb-1" style="text-align: center;">
                  <input type="text" name="data.capabilities.{{key}}" value="{{capability}}" data-dtype="Number"
                    disabled />
                </div>
                {{/if}}
                {{/each}}
              </div>
              {{#if data.capabilities.Naturewalk}}
              <div class="hgss-body readable w-100 align-items-center">
                <div class="col-sm-4 p11">
                  <label for="data.capabilities.Naturewalk">Naturewalk:</label>
                </div>
                <div class="col-sm-8" style="text-align: center;">
                  <input type="text" name="data.capabilities.Naturewalk" value="{{data.capabilities.Naturewalk}}"
                    data-dtype="Number" disabled />
                </div>
              </div>
              {{/if}}

              <!-- Other Capabilities -->
              <div class="hgss-body w-100 mt-2" style="display: block;">
                <ol class="inventory-list">
                  <li class="inventory-header flexrow">
                    <h3 class="item-name flexrow">Other Capabilities</h3>
                    <div class="item-controls">
                      <a class="item-control item-create" title="Add capability" data-type="capability"><i
                          class="fas fa-plus-circle" style="margin-right: 3px;"></i><span
                          class="readable">Add</span></a>
                    </div>
                  </li>
                  <ol class="item-list">
                    {{#each actor.capabilities as | capability |}}
                    <li class="item flexrow" data-item-id="{{capability._id}}">
                      <div class="item-name flexrow">
                        <h4 title="Toggle Info ({{capability.name}})" data-toggle="collapse"
                          data-target="#{{capability._id}}-collapse" aria-expanded="false"
                          aria-controls="{{capability._id}}-collapse">
                          <i class="fas fa-info-circle info-icon"></i>
                          {{capability.name}}
                        </h4>
                      </div>
                      <div class="item-controls" style="flex: 0 0 55px; justify-content: center; display:flex;">
                        <a class="item-control item-edit" title="Edit capability"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete capability"><i class="fas fa-trash"></i></a>
                      </div>
                      <div class="collapse readable lh-16 item-summary" id="{{capability._id}}-collapse">
                        {{capability.data.effect}}
                      </div>
                    </li>
                    {{/each}}
                  </ol>
                </ol>
              </div>
            </div>

            <!-- Poké Edges-->
            <div class="hgss-box mt-2 w-100">
              <div class="hgss-body w-100" style="display: block;">
                <ol class="inventory-list">
                  <li class="inventory-header flexrow">
                    <h3 class="item-name flexrow">Poké Edges</h3>
                    <div class="item-controls">
                      <a class="item-control item-create" title="Add pokeedge" data-type="pokeedge"><i
                          class="fas fa-plus-circle" style="margin-right: 3px;"></i><span
                          class="readable">Add</span></a>
                    </div>
                  </li>
                  <ol class="item-list">
                    {{#each actor.edges as | pokeedge |}}
                    <li class="item flexrow" data-item-id="{{pokeedge._id}}">
                      <div class="item-name flexrow">
                        <h4 title="Toggle Info ({{pokeedge.name}})" data-toggle="collapse"
                          data-target="#{{pokeedge._id}}-collapse" aria-expanded="false"
                          aria-controls="{{pokeedge._id}}-collapse">
                          <i class="fas fa-info-circle info-icon"></i>
                          {{pokeedge.name}}
                        </h4>
                      </div>
                      <div class="item-controls" style="flex: 0 0 55px; justify-content: center; display:flex;">
                        <a class="item-control item-edit" title="Edit pokeedge"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete pokeedge"><i class="fas fa-trash"></i></a>
                      </div>
                      <div class="collapse readable lh-16 item-summary" id="{{pokeedge._id}}-collapse">
                        {{pokeedge.data.effect}}
                      </div>
                    </li>
                    {{/each}}
                  </ol>
                </ol>
              </div>
            </div>

            <!-- Tutor Points -->
            {{#if (is "true" (getGameSetting "useTutorPoints"))}}
            <div class="hgss-box mt-2" style="text-align: center;">
              <div class="hgss-header">
                <h3 class="m-auto">Tutor Points</h3>
              </div>
              <div class="hgss-body">
                <div class="resource-content flexrow flex-group-right hp-info">
                  <input type="text" name="data.tp.value" value="{{data.tp.value}}" data-dtype="Number"/>
                  <span> / </span>
                  <input type="text" name="data.tp.max" value="{{data.tp.max}}" data-dtype="Number" disabled/>
                </div>
              </div>
            </div>
            {{else}}
            <div class="hgss-box mt-2" style="text-align: center;">
              <div class="hgss-header">
                <h3 class="m-auto">PokéEdge Points Used:</h3>
              </div>
              <div class="hgss-body">
                <div class="resource-content flexrow flex-group-right hp-info">
                  <input type="text" {{#if (gt data.tp.pep.value data.tp.pep.max)}}class="error-text"{{/if}} name="data.tp.pep.value" value="{{data.tp.pep.value}}" data-dtype="Number" disabled/>
                  <span> / </span>
                  <input type="text" name="data.tp.pep.max" value="{{data.tp.pep.max}}" data-dtype="Number" disabled/>
                </div>
              </div>
            </div>
            {{/if}}
          </div>

          <!-- Combat Tab -->
          <div class="tab details combat" data-group="primary" data-tab="combat">
            <!-- Evasion -->
            <div class="hgss-box mb-2 w-100" style="text-align: center; word-break: keep-all;">
              <div class="hgss-header">
                <div class="d-flex w-100 mt-1 mb-1 align-items-center">
                  <div class="col-sm-4">
                    <label for="data.evasion.physical">Physical<br>Evasion</label>
                  </div>
                  <div class="col-sm-4">
                    <label for="data.evasion.special">Special<br>Evasion</label>
                  </div>
                  <div class="col-sm-4">
                    <label for="data.evasion.speed">Speed<br>Evasion</label>
                  </div>
                </div>
              </div>
              <div class="hgss-body" style="display: block;">
                <div class="d-flex w-100 mt-1 mb-1">
                  <div class="col-sm-4">
                    <input type="text" name="data.evasion.physical" value="{{data.evasion.physical}}" data-dtype="Number"
                      disabled />
                  </div>
                  <div class="col-sm-4">
                    <input type="text" name="data.evasion.special" value="{{data.evasion.special}}" data-dtype="Number"
                      disabled />
                  </div>
                  <div class="col-sm-4">
                    <input type="text" name="data.evasion.speed" value="{{data.evasion.speed}}" data-dtype="Number"
                      disabled />
                  </div>
                </div>
              </div>
            </div>

            <!-- Injuries -->
            <div class="hgss-box mb-2 w-100" style="text-align: center; word-break: keep-all;">
              <div class="hgss-header">
                <div class="d-flex w-100 mt-1 mb-1 align-items-center">
                  <div class="col-sm-4">
                    <label for="data.health.injuries">Injuries</label>
                  </div>
                  <div class="col-sm-3">
                    <label for="data.modifiers.hardened">Hardened</label>
                  </div>
                  <div class="col-sm-5">
                    <label for="data.health.total">Total Health <small>Ignoring Injuries</small></label>
                  </div>
                </div>
              </div>
              <div class="hgss-body" style="display: block;">
                <div class="d-flex w-100 mt-1 mb-1">
                  <div class="col-sm-4">
                    <input name="data.health.injuries" type="text" value="{{data.health.injuries}}"
                      data-dtype="Number" />
                  </div>
                  <div class="col-sm-3">
                    <input name="data.modifiers.hardened" type="checkbox" {{checked data.modifiers.hardened}} />
                  </div>
                  <div class="col-sm-5">
                    <input type="text" name="data.health.total" value="{{data.health.total}}" data-dtype="Number"
                      disabled />
                  </div>
                </div>
                {{#if (or (bigger data.health.injuries 0) (is true data.modifiers.hardened))}}
                <div class="d-flex w-100 mt-1 mb-1">
                  <ul style="position: relative; left: 15px; width: 96%; line-height: 15px; text-align: start;">
                    {{#if data.modifiers.hardened}}<li>Injuries beyond the 5th do not lower Maximum Hit Points</li>
                    {{/if}}
                    {{#if (and (is true data.modifiers.hardened) (biggerOrEqual data.health.injuries 1))}}<li>+1 to
                      Critical Hit and Effect Range</li>{{/if}}
                    {{#if (and (is true data.modifiers.hardened) (biggerOrEqual data.health.injuries 3))}}<li>+1
                      Evasion and +5 Initiative</li>{{/if}}
                    {{#if (biggerOrEqual data.health.injuries 5)}}<li>Unable to regain Hit Points from Resting</li>
                    {{/if}}
                    {{#if (and (is true data.modifiers.hardened) (biggerOrEqual data.health.injuries 5))}}<li>+5
                      Damage Reduction</li>{{/if}}
                    {{#if (and (not true data.modifiers.hardened) (biggerOrEqual data.health.injuries 5))}}<li>Take
                      {{data.health.injuries}} Damage whenever taking a Standard Action during Combat</li>{{/if}}
                    {{#if (and (is true data.modifiers.hardened) (biggerOrEqual data.health.injuries 7))}}<li>Immune
                      to Loss of Hit Points (but not damage) from all effects</li>{{/if}}
                    {{#if (and (is true data.modifiers.hardened) (biggerOrEqual data.health.injuries 9))}}<li>Resist
                      all damage one step further</li>{{/if}}
                    {{#if (and (not true data.modifiers.hardened) (biggerOrEqual data.health.injuries 10))}}<li>
                      <b>Death</b></li>{{/if}}
                    </ol>
                </div>
                {{/if}}
              </div>
            </div>

            <!-- Item Effect -->
            <div class="hgss-box mt-auto w-100" style="text-align: center;">
              <div class="hgss-header">
                <h3 class="m-auto">Item Effect</h3>
              </div>
              <div class="hgss-body w-100">
                <textarea style="min-height: 100px;" id="itemDescription"
                  disabled>{{itemDescription data.heldItem}}</textarea>
              </div>
            </div>

            <!-- Vitamins -->

            <!-- Digestion Buff -->

            <!-- Likes & Dislikes -->

            <!-- Tick/HP Guidelines -->

          </div>

          <!-- Extra Tab -->
          <div class="tab details extra" data-group="primary" data-tab="extra">
            <div class="d-flex align-items-end flex-column h-100">
              <!-- Init & Stat Point Mod -->
              <div class="hgss-box w-100 mb-2" style="text-align: center; word-break: keep-all;">
                <div class="hgss-header">
                  <div class="d-flex w-100 mt-1 mb-1">
                    <div class="col-sm-6">
                      <label for="data.modifiers.initiative">Initiative Mod</label>
                    </div>
                    <div class="col-sm-6">
                      <label for="data.modifiers.statPoints">Stat Point Mod</label>
                    </div>
                  </div>
                </div>
                <div class="hgss-body">
                  <div class="d-flex w-100 mt-1 mb-1">
                    <div class="col-sm-6">
                      <input name="data.modifiers.initiative" type="text" value="{{data.modifiers.initiative}}"
                        data-dtype="Number" />
                    </div>
                    <div class="col-sm-6">
                      <input type="text" name="data.modifiers.statPoints" value="{{data.modifiers.statPoints}}"
                        data-dtype="Number" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="hgss-box w-100 mb-2" style="text-align: center; word-break: keep-all;">
                <div class="hgss-header">
                  <div class="d-flex w-100 mt-1 mb-1">
                    <div class="col-sm-6">
                      <label for="data.modifiers.acBonus">Accuracy Bonus</label>
                    </div>
                    <div class="col-sm-6">
                      <label for="data.modifiers.critRange">Crit Range Bonus</label>
                    </div>
                  </div>
                </div>
                <div class="hgss-body">
                  <div class="d-flex w-100 mt-1 mb-1">
                    <div class="col-sm-6">
                      <input type="text" name="data.modifiers.acBonus" value="{{data.modifiers.acBonus}}"
                        data-dtype="Number" />
                    </div>
                    <div class="col-sm-6">
                      <input type="text" name="data.modifiers.critRange" value="{{data.modifiers.critRange}}"
                        data-dtype="Number" />
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Skill Background -->
              
              <!-- Species + Gender -->
              <div class="hgss-box mb-2 w-100" style="text-align: center; word-break: keep-all;">
                <div class="hgss-header">
                  <div class="d-flex w-100 mt-1 mb-1 align-items-center">
                    <div class="col-sm-6">
                      <label for="data.species">Species</label>
                    </div>
                    <div class="col-sm-6">
                      <label for="data.gender">Gender</label>
                    </div>
                  </div>
                </div>
                <div class="hgss-body" style="display: block;">
                  <div class="d-flex w-100 mt-1 mb-1">
                    <div class="col-sm-6">
                      <input type="text" name="data.species" value="{{data.species}}" data-dtype="String"/>
                    </div>
                    <div class="col-sm-6">
                      <input type="text" name="data.gender" value="{{data.gender}}" data-dtype="String"/>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Egg Group -->
              <div class="hgss-box mb-2 w-100" style="text-align: center; word-break: keep-all;">
                <div class="hgss-header">
                  <div class="d-flex w-100 mt-1 mb-1 align-items-center">
                    <div class="col-sm-12">
                      <label for="data.egggroup">Egg Group</label>
                    </div>
                  </div>
                </div>
                <div class="hgss-body" style="display: block;">
                  <div class="d-flex w-100 mt-1 mb-1">
                    <div class="col-sm-12">
                      <input type="text" name="data.egggroup" value="{{data.egggroup}}" data-dtype="String"
                        disabled />
                    </div>
                  </div>
                </div>
              </div>

              <!-- Skills -->
              <div class="hgss-box mt-auto w-100 mb-2">
                <div class="hgss-header skill skill-block">
                  <div class="row no-gutters header w-100">
                    <div class="col-sm-4 pt-2 pb-2">Skill</div>
                    <div class="col mt-2 mb-2">Mod</div>
                    <div class="col-sm-3 mt-2 mb-2">Rank</div>
                    <div class="col-sm-2 mt-2 mb-2">Value</div>
                    <div class="col mt-2 mb-2">Dice</div>
                  </div>
                </div>
                <div class="hgss-body p-0">
                  <div class="w-100 skills skill-block">
                    {{#each data.skills as |skill key|}}
                    <div class="row no-gutters {{key}} align-items-center">
                      <div class="skill {{key}} col-sm-4 bgcolor key type--{{skill.type}} align-self-center">
                        <label for="data.skills.{{key}}.modifier" class="resource-label">{{skill.label}}</label>
                      </div>
                      <div class="skill {{key}} col pl-1 pr-1 fs-9 center-text">
                        <input type="text" name="data.skills.{{key}}.modifier" value="{{skill.modifier}}" data-dtype="Number" disabled/>
                      </div>
                      <div class="skill {{key}} col-sm-3 align-self-center bgcolor skill--{{skill.rank}} center-text">
                        <label for="data.skills.{{key}}.value" class="resource-label">{{skill.rank}}</label>
                      </div>
                      <div class="skill {{key}} col pl-1 fs-9 center-text">
                        <input type="text" name="data.skills.{{key}}.value" value="{{skill.value}}"
                          data-dtype="Number" disabled/>
                      </div>
                      <div class="skill {{key}} col-sm-2 align-self-center bgcolor fs-9 center-text rollable"
                        data-roll="{{skill.value}}d6{{#if skill.modifier}}+{{skill.modifier}}{{/if}}"
                        data-label="{{skill.label}}">
                        <i class="fas fa-dice-d20"></i>
                        <label for="data.skills.{{key}}.value"
                          class="resource-label">{{skill.value}}d6{{#if skill.modifier}}+{{skill.modifier}}{{/if}}</label>
                      </div>
                    </div>
                    {{/each}}
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Side Bar -->
    <div class="col-sm-12 col-md-4">
      <div class="d-flex align-items-center flex-column h-100 pt-4">
        <div class="hgss-box mb-1">
          <div class="hgss-header" style="align-items: unset;">
            <label for="name" class="name-label"></label>
            <input class="ml-2" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
          </div>
          <div class="hgss-body row no-gutters">
            <div class="options w-100 d-flex">
              <label for="progressBar" class="hp"></label>
              <div class="d-flex pt-1 pb-1" style="text-align: center;">
                <input class="ml-1 mr-1" type="text" name="data.health.value" value="{{data.health.value}}"
                  data-dtype="Number" />
                <span style="font-size: 20px;"> / </span>
                <input class="ml-1" type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"
                  disabled />
              </div>
            </div>
            <div class="options w-100 pb-1 pt-1">
              <div class="progress-bar p{{data.health.percent}}" id="progressBar"></div>
            </div>
          </div>
        </div>
        <div class="avatar mt-1 mb-1">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </div>
        <div class="hgss-box mt-auto mb-2 w-100" style="text-align: center;">
          <div class="hgss-header">
            <h3 class="m-auto">Item</h3>
          </div>
          <div class="hgss-body">
            <input class="mt-1" id="heldItemInput" type="text" name="data.heldItem" value="{{data.heldItem}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sheet-footer">
    <div class="tabs">
      <ul class="sheet-tabs tabs buttons" data-group="primary">
        <li><button class="item" data-tab="stats">Stats</button></li>
        <li><button class="item" data-tab="moves">Moves</button></li>
        <li><button class="item" data-tab="capability">Capabilities</button></li>
        <li><button class="item" data-tab="combat">Combat</button></li>
        <li><button class="item" data-tab="extra">Extra</button></li>
      </ul>
    </div>
  </div>
</form>