{{#if item}}
{{log item}}
    <div class="content flexrow pt-1" style="font-variant: normal;">
        <div class="swsh-box">
            <div class="swsh-header" style="border-bottom:1px solid #00000020;text-align:center">
                <div class="d-flex w-100 mt-1 mb-1 justify-content-center">
                    <span style="padding:5px;word-break: break-word;">{{item.name}}</span>
                </div>
            </div>
            <div class="d-flex w-100 fs-10 justify-content-center" style="flex-wrap: wrap;word-break: break-word;">
                    <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1" style="align-items:center;">
                        Type
                    </div>
                    <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                        {{capitalizeFirst item.type}}
                    </div>
                {{#if item.system.origin}}
                    <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1" style="align-items:center;">
                        Origin
                    </div>
                    <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                        {{item.system.origin}}
                    </div>
                {{/if}}
                {{#if item.system.prerequisites}}
                    <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1 fs-9" style="align-items:center;">
                        Prereqs
                    </div>
                    <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                        {{item.system.prerequisites}}
                    </div>
                {{/if}}
                {{#if item.system.frequency}}
                    <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1 fs-8" style="align-items:center;">
                        Frequency
                    </div>
                    <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                        {{item.system.frequency}}
                    </div>
                {{/if}}
                {{#if item.system.tags}}
                    <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1 fs-8" style="align-items:center;">
                        Tags
                    </div>
                    <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                        {{item.system.tags}}
                    </div>
                {{/if}}
                {{#if item.system.notes}}
                    <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1 fs-8" style="align-items:center;">
                        Notes
                    </div>
                    <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                        {{item.system.notes}}
                    </div>
                {{/if}}
                {{#if item.system.tier}}
                    <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1 fs-8" style="align-items:center;">
                        Tier
                    </div>
                    <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                        {{item.system.tier}}
                    </div>
                {{/if}}
                {{#if item.system.quantity}}
                    <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1 fs-8" style="align-items:center;">
                        Quantity
                    </div>
                    <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                        {{item.system.quantity}}
                    </div>
                {{/if}}
                {{#if item.system.cost}}
                    <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1 fs-8" style="align-items:center;">
                        Cost
                    </div>
                    <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                        {{item.system.cost}}
                    </div>
                {{/if}}
                {{#if item.system.effect}}
                    <div class="swsh-header col-sm-12">
                        <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                            <div class="col">Effect</div>
                        </div>
                    </div>
                    <div class="swsh-body col-sm-12">
                        <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                            <div class="p-1 readable pokemon p8 tight"
                                style="word-break: break-word;text-align: start;line-height: 16px;">{{{item.system.effect}}}</div>
                        </div>
                    </div>
                {{/if}}
                {{#if item.system.entry}}
                    <div class="swsh-header col-sm-12">
                        <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                            <div class="col">Entry</div>
                        </div>
                    </div>
                    <div class="swsh-body col-sm-12">
                        <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                            <div class="p-1 readable pokemon p8 tight"
                                style="word-break: break-word;text-align: start;line-height: 16px;">{{{item.system.entry}}}</div>
                        </div>
                    </div>
                {{/if}}
                <div class="w-100 p-2" style="border-top:1px solid #00000080;/* padding:10px 5px */">
                    <button class="reduce-item-count" data-item-id="{{item.system.id}}" data-item-name="{{item.name}}" onclick="useItem(event)">
                        Consume Item
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="../../utils/use-item.js"></script>
{{/if}}