<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="instructions">Double click a type to edit its settings, left click on an effectiveness to increase it, right click an effectiveness to decrease it.</p>

    <div class="type-grid" style="--grid-columns: {{typeLength}};">
        <div class="type" style="background: #222224;">

        </div>
        {{#each types as |type|}}
            {{#unless (or (and (is type "Nuclear") (not (getGameSetting "homebrew.nuclearType") true)) (and (is type "Shadow") (not (getGameSetting "homebrew.shadowType") true)))}}
                <div class="type" data-defensive="{{type}}" data-type="{{type}}">
                    <img src="{{lookup (lookup (lookup @root/typeEffectiveness type) "images") "icon"}}" />
                </div>
            {{/unless}}
        {{/each}} 

        {{#each typeEffectiveness as |types key|}}
            {{#unless (or (and (is key "Nuclear") (not (getGameSetting "homebrew.nuclearType") true)) (and (is key "Shadow") (not (getGameSetting "homebrew.shadowType") true)))}}
                <div class="type" data-offensive="{{key}}" data-type="{{key}}">
                    <img src="{{types.images.icon}}" />
                </div>
                {{#each types.effectiveness as |type key2|}}
                    {{#unless (or (and (is key2 "Nuclear") (not (getGameSetting "homebrew.nuclearType") true)) (and (is key2 "Shadow") (not (getGameSetting "homebrew.shadowType") true)))}}
                        {{#with (lookup (lookup (lookup @root/typeEffectiveness key2) "effectiveness") key) as |value|}}
                            <div class="type" data-offensive="{{key}}" data-defensive="{{key2}}" data-modifier="{{value}}">
                                <span>{{value}}</span>
                            </div>
                        {{/with}}
                    {{/unless}}
                {{/each}}
            {{/unless}}
        {{/each}}
    </div>
    <div class="form-group buttons">
        <button type="submit">
            <i class="far fa-save"></i> {{localize "SETTINGS.Save"}}
        </button>
        <button type="add">
            <i class="fas fa-plus"></i> {{localize "PTU.Settings.AddType.Label"}}
        </button>
        <button type="reset" name="reset">
            <i class="fas fa-undo"></i> {{localize "PTU.Settings.ResetChanges"}}
        </button>
    </div>
</form>
