<form autocomplete="off">
    <div class="form-group">
        <label>{{localize "PTU.Actor.Config.Theme.Label"}}</label>
        <input type="text" name="flags.ptu.theme" value="{{this.document.flags.ptu.theme}}" />
        <p class="hint">{{localize "PTU.Actor.Config.Theme.Hint"}}</p>
    </div>
    <div class="form-group">
        <label>{{localize "PTU.Actor.Config.Alliance.Label"}}</label>
        <select name="system.alliance">
            {{selectOptions allianceOptions selected=alliance}}
        </select>
        <p class="hint">{{localize "PTU.Actor.Config.Alliance.Hint"}}</p>
    </div>
    <button type="submit">
        <i class="fas fa-save"></i> {{localize "SETTINGS.Save"}}
    </button>
</form>
