<form autocomplete="off">
    {{#if user.isGM}}
    <div class="form-group">
        <label>{{localize 'COMBAT.Resource'}}</label>
        <select name="resource">
            <option value="">{{ localize "None" }}</option>
            {{selectOptions attributeChoices selected=settings.resource}}
        </select>
        <p class="notes">{{localize 'COMBAT.ResourceHint'}}</p>
    </div>

    <div class="form-group">
        <label>{{localize 'COMBAT.SkipDefeated'}}</label>
        <input type="checkbox" name="skipDefeated" {{checked settings.skipDefeated}} data-dtype="Boolean" />
        <p class="notes">{{localize 'COMBAT.SkipDefeatedHint'}}</p>
    </div>

    <div class="form-group">
        <label>League Battle?</label>
        <input type="checkbox" name="leagueBattle" {{checked settings.leagueBattle}} data-dtype="Boolean" />
        <p class="notes">Sort player characters in inverted order before pokemon</p>
    </div>
    {{/if}}

    {{#if combatTheme.choices}}
    <div class="form-group" data-setting-id="core.combatTheme">
        <label>{{ localize combatTheme.name }}</label>
        <div class="form-fields">
            <select name="combatTheme">
                {{selectOptions combatTheme.choices selected=selectedTheme localize=true}}
            </select>
            <i data-tooltip="{{localize 'Preview'}}" class="fas fa-play audio-preview"></i>
        </div>
        <p class="notes">{{ localize combatTheme.hint }}</p>
    </div>
    {{/if}}

    <button type="submit">
        <i class="fas fa-save"></i> {{localize 'COMBAT.SettingsSave'}}
    </button>
</form>