
<div class="data-view">
  <div class="card border-dark">
    <div class="wrapper">
      <div class="side-colored" style="background-color: rgb(155, 178, 184);"></div>
      <div class="card border-dark embed">
        <div class="card-block w-100">
          <div class="embed-inner w-100">
            <div class="embed-title {{#if (is compendium "mons")}}pokemon{{/if}}">Data Overview for {{#if name}}{{capitalize name}}{{else}}{{capitalize _id}}{{/if}}</div>
            <div class="fields">
              <!-- Only Pokemon have 'number' field, so we can use that to determine if it's a Pokemon or not. -->
              {{#if number}}
              <div class="field inline">
                <div class="field-name">Pokemon</div>
                <div class="field-value">{{capitalize _id}}</div>
              </div>

              <div class="field inline">
                <div class="field-name">Number</div>
                <div class="field-value">{{lpad number 3 0}}</div>
              </div>

              <div class="field inline">
                <div class="field-name">Type</div>
                <div class="field-value">{{Type.[0]}}{{#if (not Type.[1] "null")}}/{{Type.[1]}}{{/if}}</div>
              </div>

              <div class="field inline">
                <div class="field-name">Height</div>
                <div class="field-value">{{Height}} m ({{[Size Class]}})</div>
              </div>

              <div class="field inline">
                <div class="field-name">Weight</div>
                <div class="field-value">{{Weight}}kg</div>
              </div>

              <div class="field inline">
                <div class="field-name">Diet</div>
                <div class="field-value">{{#each Diet}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</div>
              </div>

              <div class="field inline">
                <div class="field-name">Habitat</div>
                <div class="field-value">{{#each Habitat}}- {{this}}{{#unless @last}}<br>{{/unless}}{{/each}}</div>
              </div>

              <div class="field inline">
                <div class="field-name">Egg Groups</div>
                <div class="field-value">{{#each [Breeding Information].[Egg Group]}}- {{this}}{{#unless @last}}<br>{{/unless}}{{/each}}</div>
              </div>

              <div class="field"><hr></div>

              <div class="field" style="padding-top: unset;">
                <div class="field-name d-flex">
                  <div class="list-flex">
                    Base Stats
                  </div>
                  <div class="list-flex">
                    Skills
                  </div>
                </div>
                <div class="field-value d-flex" style="white-space: normal;">
                  <div class="list-flex">
                    <div class="list-items">
                      <span class="label">HP </span><span class="value">{{[Base Stats].HP}}</span>
                      <span class="label">Attack:</span><span class="value">{{[Base Stats].Attack}}</span>
                      <span class="label">Defense:</span><span class="value">{{[Base Stats].Defense}}</span>
                      <span class="label">Sp. Atk:</span><span class="value">{{[Base Stats].[Special Attack]}}</span>
                      <span class="label">Sp. Def: </span><span class="value">{{[Base Stats].[Special Defense]}}</span>
                      <span class="label">Speed:</span><span class="value">{{[Base Stats].Speed}}</span>
                    </div>
                  </div>
                  <div class="list-flex">
                    <div class="list-items">
                      <span class="label">Athletics </span><span class="value">{{Skills.Athletics.Dice}}d6{{#if (bigger Skills.Athletics.Mod 0)}}+{{Skills.Athletics.Mod}}{{/if}}</span>
                      <span class="label">Acrobatics:</span><span class="value">{{Skills.Acrobatics.Dice}}d6{{#if (bigger Skills.Acrobatics.Mod 0)}}+{{Skills.Acrobatics.Mod}}{{/if}}</span>
                      <span class="label">Combat:</span><span class="value">{{Skills.Combat.Dice}}d6{{#if (bigger Skills.Combat.Mod 0)}}+{{Skills.Combat.Mod}}{{/if}}</span>
                      <span class="label">Stealth:</span><span class="value">{{Skills.Stealth.Dice}}d6{{#if (bigger Skills.Stealth.Mod 0)}}+{{Skills.Stealth.Mod}}{{/if}}</span>
                      <span class="label">Perception: </span><span class="value">{{Skills.Perception.Dice}}d6{{#if (bigger Skills.Perception.Mod 0)}}+{{Skills.Perception.Mod}}{{/if}}</span>
                      <span class="label">Focus:</span><span class="value">{{Skills.Focus.Dice}}d6{{#if (bigger Skills.Focus.Mod 0)}}+{{Skills.Focus.Mod}}{{/if}}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field"><hr></div>

              <div class="field" style="margin-bottom:unset; padding-top: unset;">
                <div class="field-name">Abilities</div>
              </div>

              <div class="field inline" style="padding-top: unset;">
                <div class="field-name">Basic</div>
                <div class="field-value">{{#each Abilities.Basic}}{{this}}{{#unless @last}}<br>{{/unless}}{{/each}}</div>
              </div>

              <div class="field inline" style="padding-top: unset;">
                <div class="field-name">Advanced</div>
                <div class="field-value">{{#each Abilities.Advanced}}{{this}}{{#unless @last}}<br>{{/unless}}{{/each}}</div>
              </div>

              <div class="field inline" style="padding-top: unset;">
                <div class="field-name">High</div>
                <div class="field-value">{{#each Abilities.High}}{{this}}{{#unless @last}}<br>{{/unless}}{{/each}}</div>
              </div>

              <div class="field"><hr></div>

              <div class="field" style="margin-bottom:unset; padding-top: unset;">
                <div class="field-name">Capabilities</div>
              </div>

              {{#if (bigger Capabilities.Overland 0)}}
              <div class="field inline" style="padding-top: unset;">
                <div class="field-name">Overland</div>
                <div class="field-value">{{Capabilities.Overland}}</div>
              </div>
              {{/if}}
              
              {{#if (bigger Capabilities.Sky 0)}}
              <div class="field inline" style="padding-top: unset;">
                <div class="field-name">Sky</div>
                <div class="field-value">{{Capabilities.Sky}}</div>
              </div>
              {{/if}}

              {{#if (bigger Capabilities.Swim 0)}}
              <div class="field inline" style="padding-top: unset;">
                <div class="field-name">Swim</div>
                <div class="field-value">{{Capabilities.Swim}}</div>
              </div>
              {{/if}}

              {{#if (bigger Capabilities.Levitate 0)}}
              <div class="field inline" style="padding-top: unset;">
                <div class="field-name">Levitate</div>
                <div class="field-value">{{Capabilities.Levitate}}</div>
              </div>
              {{/if}}

              {{#if (bigger Capabilities.Burrow 0)}}
              <div class="field inline" style="padding-top: unset;">
                <div class="field-name">Burrow</div>
                <div class="field-value">{{Capabilities.Burrow}}</div>
              </div>
              {{/if}}

              {{#if (bigger Capabilities.[High Jump] 0)}}
              <div class="field inline" style="padding-top: unset;">
                <div class="field-name">High Jump</div>
                <div class="field-value">{{Capabilities.[High Jump]}}</div>
              </div>
              {{/if}}

              {{#if (bigger Capabilities.[Long Jump] 0)}}
              <div class="field inline" style="padding-top: unset;">
                <div class="field-name">Long Jump</div>
                <div class="field-value">{{Capabilities.[Long Jump]}}</div>
              </div>
              {{/if}}

              {{#if (bigger Capabilities.Power 0)}}
              <div class="field inline" style="padding-top: unset;">
                <div class="field-name">Power</div>
                <div class="field-value">{{Capabilities.Power}}</div>
              </div>
              {{/if}}

              {{#if (bigger Capabilities.[Weight Class] 0)}}
              <div class="field inline" style="padding-top: unset;">
                <div class="field-name">Weight Class</div>
                <div class="field-value">{{Capabilities.[Weight Class]}}</div>
              </div>
              {{/if}}

              <div class="field"><hr></div>

              <div class="field" style="margin-bottom:unset; padding-top: unset;">
                <div class="field-name">Moves</div>
              </div>

              <div class="field" style="padding-top: unset;">
                <div class="field-name">Level Up Move List</div>
                <div class="field-value" style="white-space: normal;">
                  <div class="list-items move-list-items">
                      <span class="label">Move</span><span class="value">Level</span>
                      {{#each [Level Up Move List]}}
                      <span class="label">{{this.Move}}</span><span class="value">{{this.Level}}</span>
                      {{/each}}
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="field-name">Tutor Move List</div>
                <div class="field-value">{{#each [Tutor Move List]}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</div>
              </div>

              {{#if (bigger [Egg Move List].length 0)}}
              <div class="field">
                <div class="field-name">Egg Move List</div>
                <div class="field-value">{{#each [Egg Move List]}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</div>
              </div>
              {{/if}}

              <div class="field">
                <div class="field-name">TM Move List</div>
                <div class="field-value">{{#each [TM Move List]}}<a data-tm-number="{{this}}">{{this}}</a>{{#unless @last}}, {{/unless}}{{/each}}</div>
              </div>

            </div>
            {{else}} <!-- Currently only accepting moves -->
              <div class="field inline">
                <div class="field-name">Name</div>
                <div class="field-value">{{#if (is compendium "tms")}}<a data-tm-number="{{tmNumber}}">{{/if}}{{capitalize name}}{{#if (is compendium "tms")}}</a>{{/if}}</div>
              </div>

              <div class="field inline">
                <div class="field-name">Compendium</div>
                <div class="field-value">{{capitalize compendium}}</div>
              </div>

              {{#if prerequisites}}
              <div class="field inline">
                <div class="field-name">Prerequisites</div>
                <div class="field-value">{{prerequisites}}</div>
              </div>
              {{/if}}

              {{#if type}}
              <div class="field inline">
                <div class="field-name">Type</div>
                <div class="field-value">{{type}}</div>
              </div>
              {{/if}}

              {{#if category}}
              <div class="field inline">
                <div class="field-name">Category</div>
                <div class="field-value">{{category}}</div>
              </div>
              {{/if}}

              {{#if damageBase}}
              <div class="field inline">
                <div class="field-name">Damage Base</div>
                <div class="field-value">{{damageBase}}</div>
              </div>
              {{/if}}

              {{#if frequency}}
              <div class="field inline">
                <div class="field-name">Frequency</div>
                <div class="field-value">{{frequency}}</div>
              </div>
              {{/if}}

              {{#if ac}}
              <div class="field inline">
                <div class="field-name">AC</div>
                <div class="field-value">{{ac}}</div>
              </div>
              {{/if}}

              {{#if range}}
              <div class="field inline">
                <div class="field-name">Range</div>
                <div class="field-value">{{range}}</div>
              </div>
              {{/if}}

              {{#if contestType}}
              <div class="field inline">
                <div class="field-name">Contest Type</div>
                <div class="field-value">{{contestType}}</div>
              </div>
              {{/if}}

              {{#if effect}}
              <div class="field">
                <div class="field-name">Effect</div>
                <div class="field-value">{{newline effect}}</div>
              </div>
              {{/if}}

              {{#if tmNumber}}
              <div class="field">
                <div class="field-name">TM Number</div>
                <div class="field-value"><a data-tm-number="{{tmNumber}}">{{tmNumber}}</a></div>
              </div>
              {{/if}}

            </div>
            {{/if}}
            
          </div>
          {{#if number}}
          <img class="embed-thumb"
            src="https://raw.githubusercontent.com/dylanpiera/Foundry-Pokemon-Tabletop-United-System/master/images/pokemon_sprites/{{lpad number 3 0}}.webp">
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>