<form class="{{cssClass}} container-fluid d-flex flex-column" autocomplete="off">
    <div class="d-flex flex-column">
        {{!-- <div class="d-flex flex-row justify-content-center mb-2 mt-2">
            <h3>{{localize "PTU.MassGenerator.Title"}}</h3>
        </div> --}}
        <div class="d-flex flex-row justify-content-center mb-2 header-bar ball-themes default highlight">
            <h3>{{localize "PTU.MassGenerator.Amount"}}</h3>
        </div>
        <div class="d-flex flex-row justify-content-center center-text mb-2">
            <input class="fb-40" type="number" name="amount" min="1" max="100" value="{{data.amount}}"/>
        </div>
        <div class="d-flex flex-row justify-content-center mb-2 header-bar ball-themes default highlight">
            <h3>{{localize "PTU.MassGenerator.Level"}}</h3>
        </div>
        <div class="d-flex flex-row justify-content-center mb-2">
            <input class="level" type="number" name="level.min" min="1" max="100" value="{{data.level.min}}"/>
            <span class="ml-2 mr-2" style="align-self: center;">-</span>
            <input class="level" type="number" name="level.max" min="1" max="100" value="{{data.level.max}}"/>
        </div>
        <div class="d-flex flex-row justify-content-center pb-1 header-bar ball-themes default highlight">
            <h3>{{localize "PTU.MassGenerator.PokemonSelect"}}</h3>
        </div>
        <div class="d-flex flex-column mb-2">
            <div class="d-flex flex-row justify-content-center header-bar ball-themes default highlight">
                <div class="d-flex flex-row justify-content-center center-text fb-60">
                    <div class="fb-50 mr-1">
                        <button class="tab-button" data-tab="species">{{localize "PTU.MassGenerator.Species"}}</button>
                    </div>
                    <div class="fb-50 ml-1">
                        <button class="tab-button" data-tab="table">{{localize "PTU.MassGenerator.HabitatTable"}}</button>
                    </div>
                </div>
            </div>
            {{#if (is data.speciesTab "species")}}
                <div class="d-flex flex-row justify-content-center mt-1">
                    <div class="d-flex flex-row justify-content-center m-1 center-text fb-60">
                        <input class="fb-65" type="text" name="species" placeholder="Pokemon Species" value="{{data.speciesField.value}}">
                    </div>
                </div>
                {{#if data.helpText.species}}
                    <div class="d-flex flex-row justify-content-center">
                        <div class="d-flex flex-row justify-content-center m-1 center-text fb-70 species">
                            {{{data.helpText.species}}}
                        </div>
                    </div>
                {{/if}}
            {{else}}
                <div class="d-flex flex-row justify-content-center mt-1">
                    <div class="d-flex flex-row justify-content-center m-1 center-text fb-60">
                        <select id="tableSelect">
                            {{selectOptions data.tableSelect.options selected=data.tableSelect.value valueAttr="uuid"}}
                        </select>
                    </div>
                </div>
                {{#if data.helpText.table}}
                    <div class="d-flex flex-row justify-content-center">
                        <div class="d-flex flex-row justify-content-center m-1 center-text fb-70 species">
                            {{{data.helpText.table}}}
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        </div>
        <div class="d-flex flex-row justify-content-center mb-2 header-bar ball-themes default highlight">
            <h3>{{localize "PTU.MassGenerator.Folder"}}</h3>
        </div>
        <div class="d-flex flex-row justify-content-center center-text mb-2">
            <input class="fb-40" type="text" name="folder" placeholder="Folder Name" value="{{data.folderField.value}}">
        </div>
        {{#if data.helpText.folder}}
            <div class="d-flex flex-row justify-content-center">
                <div class="d-flex flex-row justify-content-center m-1 center-text fb-70 species">
                    {{{data.helpText.folder}}}
                </div>
            </div>
        {{/if}}
    </div>
    <div class="d-flex flex-row justify-content-center mt-auto mb-2">
        <input type="submit" autofocus value="{{localize "PTU.MassGenerator.Submit"}}"/>
    </div>
</form>