<section class="token-panel" {{#unless actor}}style="display: none;" {{/unless}}>
    <div class="top-panel">
        {{#if party.trainer}}
            <div class="party-overview">
                <div class="party-header">
                    <img class="trainer icon" data-id="{{party.trainer.id}}" src="{{party.trainer.img}}" alt="{{party.trainer.name}}" draggable="true">
                    <span class="header">{{party.trainer.name}}'s Party</span>
                </div>
                {{#if (gt party.pokemon.length 0)}}
                    <div class="party-pokemon">
                        {{#each party.pokemon as |pokemon|}}
                            <div class="pokemon" data-id="{{pokemon.id}}" style="--health-percent: {{calcHeight pokemon.system.health.percent}}px;">
                                <img class="{{#if (lte pokemon.system.health.percent 0)}}black{{else}}{{#if (lt pokemon.system.health.percent 25)}}darkred{{else}}{{#if (lt pokemon.system.health.percent 50)}}red{{else}}{{#if (lt pokemon.system.health.percent 75)}}orange{{else}}{{#if (is pokemon.system.health.percent 100)}}green{{else}}lime{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}"
                                    src="{{pokemon.img}}" 
                                    alt="{{pokemon.name}}"
                                    draggable="true"
                                    data-id="{{pokemon.id}}">
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        {{/if}}
        {{#if (gt conditions.length 0)}}
            <div class="header mt-1">
                Conditions
            </div>
            <div class="conditions">
                {{#each conditions as |condition|}}
                    <div class="condition" data-actor-id="{{condition.parent.id}}" data-item-id="{{condition.id}}" {{#if condition.system.effect}}title="{{condition.system.effect}}"{{/if}}>
                        <img class="icon" src="{{condition.img}}" alt="{{condition.name}}">
                        <span class="name">{{condition.name}}</span>
                    </div>
                {{/each}}
            </div>
        {{/if}}
        {{#if (and (gt conditions.length 0) (gt effects.length 0))}}
            <hr>
        {{/if}}
        {{#if (gt effects.length 0)}}
            <div class="header mt-1">
                Effects
            </div>
            <div class="effects">
                {{#each effects as |effect|}}
                    <div class="effect" data-actor-id="{{effect.parent.id}}" data-item-id="{{effect.id}}" {{#if effect.system.effect}}title="{{effect.system.effect}}"{{/if}}>
                        <img class="icon" src="{{effect.img}}" alt="{{effect.name}}">
                        <span class="name">{{effect.name}}</span>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>
    <div class="main-panel">
        <div class="name-tag">
            {{actor.name}}
        </div>
        <div class="avatar">
            <img src="{{actor.img}}" alt="{{actor.name}}">
            <div class="action-bar">
                <div class="action">
                    <i class="fas fa-play" title="Standard Action"></i>
                </div>
                <div class="action">
                    <i class="fas fa-arrows-alt" title="Shift Action"></i>
                </div>
                <div class="action">
                    <i class="fas fa-asterisk" title="Swift Action"></i>
                </div>
            </div>
        </div>
        {{#if (and (not actor.type "character") heldItem)}}
            <div class="misc-menu">
                {{#if heldItem}}
                    <div class="header">
                        Held Item
                    </div>
                    <div class="item">
                        <img class="icon" src="{{heldItem.img}}" alt="{{heldItem.name}}">
                        <span class="name">{{heldItem.name}}</span>
                    </div>
                {{/if}}
                {{#if foodBuff}}
                    <div class="header">
                        Food Buff
                    </div>
                    <div class="item">
                        <img class="icon" src="{{foodBuff.img}}" alt="{{foodBuff.name}}">
                        <span class="name">{{foodBuff.name}}</span>
                    </div>
                {{/if}}
            </div>
        {{else}}
            <div style="margin-right: 0.5rem; height: 150px; width: 1px;"></div>
        {{/if}}
        <div class="items-body">
            {{#if show.actions}}
                <div class="actions actions-accordion" id="actions-accordion">
                    {{#if (gt attacks.length 0)}}
                        <div class="actions-actions">
                            {{#each attacks as |attack|}}
                                <div class="action {{#if attack.rollable}}rollable{{/if}}" data-id="{{attack.id}}"
                                    title="{{attack.effect}}">
                                    <div class="icon">
                                        <img class="icon" src="{{attack.img}}" alt="{{attack.name}}">
                                        <img class="dice" src="/icons/svg/d20.svg" title="Roll {{attack.name}}">
                                    </div>
                                    <div class="name">
                                        {{attack.name}}
                                    </div>
                                    <div class="tags">
                                        {{#if attack.frequency}}
                                            <div class="tag frequency" title="{{attack.frequency}}">
                                                {{attack.frequency}}
                                            </div>
                                        {{/if}}
                                        {{#if attack.db}}
                                            <div class="tag db" title="{{attack.db}}">
                                                DB: {{attack.db}}
                                            </div>
                                        {{else}}
                                            <div class="tag db" style="visibility: hidden;">
                                            </div>
                                        {{/if}}
                                        {{#if attack.ac}}
                                            <div class="tag ac" title="{{attack.ac}}">
                                                AC: {{attack.ac}}
                                            </div>
                                        {{else}}
                                            <div class="tag ac" style="visibility: hidden;">
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if (gt struggles.length 0)}}
                        <div class="struggles-actions">
                            {{#each struggles as |struggle|}}
                            <div class="action rollable" data-id="{{struggle.id}}">
                                <div class="icon">
                                    <img class="icon" src="{{struggle.img}}" alt="{{struggle.name}}">
                                    <img class="dice" src="/icons/svg/d20.svg" title="Roll {{struggle.name}}">
                                </div>
                                <div class="name">
                                    {{struggle.name}}
                                </div>
                                <div class="tags">
                                    {{#if struggle.db}}
                                    <div class="tag db" title="{{struggle.db}}">
                                        DB: {{struggle.db}}
                                    </div>
                                    {{/if}}
                                    {{#if struggle.ac}}
                                    <div class="tag ac" title="{{struggle.ac}}">
                                        AC: {{struggle.ac}}
                                    </div>
                                    {{/if}}
                                    {{#if struggle.frequency}}
                                    <div class="tag frequency" title="{{struggle.frequency}}">
                                        {{struggle.frequency}}
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
                <div class="divider"></div>
            {{/if}}
            {{#if (and (and (is actor.type "character") show.feats) (gt feats.length 0))}}
                <div class="feats">
                    {{#each feats as |feat|}}
                        <div class="action {{#if feat.rollable}}rollable{{/if}}" data-id="{{feat.id}}"
                            title="{{feat.effect}}">
                            <div class="icon">
                                <img class="icon" src="{{feat.img}}" alt="{{feat.name}}">
                                <img class="dice" src="/icons/svg/d20.svg" title="Roll {{feat.name}}">
                            </div>
                            <div class="name">
                                {{feat.name}}
                            </div>
                            <div class="tags">
                                {{#if feat.frequency}}
                                    <div class="tag frequency" title="{{feat.frequency}}">
                                        <span>{{feat.frequency}}</span>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="divider"></div>
            {{/if}}
            {{#if (and show.abilities (gt abilities.length 0))}}
                <div class="abilities">
                    {{#each abilities as |ability|}}
                        <div class="action {{#if ability.rollable}}rollable{{/if}}" data-id="{{ability.id}}"
                            title="{{ability.effect}}">
                            <div class="icon">
                                <img class="icon" src="{{ability.img}}" alt="{{ability.name}}">
                                <img class="dice" src="/icons/svg/d20.svg" title="Roll {{ability.name}}">
                            </div>
                            <div class="name">
                                {{ability.name}}
                            </div>
                            <div class="tags">
                                {{#if ability.frequency}}
                                    <div class="tag frequency" title="{{ability.frequency}}">
                                        {{ability.frequency}}
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="divider"></div>
            {{/if}}
            {{#if (and (and (is actor.type "character") show.items) (or (gt items.balls.length 0) (gt items.other.length 0)))}}
                <div class="items items-accordion" id="items-accordion">
                    {{#if (gt items.balls.length 0)}}
                    <div class="pokeball-items">
                        {{#each items.balls as |ball|}}
                            <div class="action {{#if ball.rollable}}rollable{{/if}}" data-id="{{ball.id}}"
                                title="{{ball.system.effect}}">
                                <div class="icon">
                                    <img class="icon" src="{{ball.img}}" alt="{{ball.name}}">
                                    <img class="dice" src="/icons/svg/d20.svg" title="Roll {{ball.name}}">
                                </div>
                                <div class="name">
                                    {{ball.name}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    {{/if}}
                    {{#if (gt items.other.length 0)}}
                    <div class="other-items">
                        {{#each items.other as |item|}}
                            <div class="action {{#if item.rollable}}rollable{{/if}}" data-id="{{item.id}}"
                                title="{{item.effect}}">
                                <div class="icon">
                                    <img class="icon" src="{{item.img}}" alt="{{item.name}}">
                                    <img class="dice" src="/icons/svg/d20.svg" title="Roll {{item.name}}">
                                </div>
                                <div class="name">
                                    {{item.name}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
                <div class="divider"></div>
            {{/if}}
            {{#if show.movement}}
                <div class="movement">
                    {{#each movement as |move|}}
                        <div class="movementcard">
                            <i class="{{move.icon}}" title="{{move.name}}"></i> {{move.value}}
                        </div>
                    {{/each}}
                </div>
                <div class="divider"></div>
            {{/if}}
        </div>
    </div>
    <div class="footer-panel">
        <div class="toggle-bar bar">
            <div class="action {{#if show.actions}}active{{else}}inactive{{/if}}" data-target="actions">
                <i class="fas fa-burst" title="Moves"></i>
            </div>
            {{#if (is actor.type "character")}}
                <div class="action {{#if show.feats}}active{{else}}inactive{{/if}}" data-target="feats">
                    <i class="fas fa-crown" title="Feats"></i>
                </div>
            {{/if}}
            <div class="action {{#if show.abilities}}active{{else}}inactive{{/if}}" data-target="abilities">
                <i class="fas fa-star" title="Abilities"></i>
            </div>
            {{#if (is actor.type "character")}}
                <div class="action {{#if show.items}}active{{else}}inactive{{/if}}" data-target="items">
                    <i class="fas fa-backpack" title="Items"></i>
                </div>
            {{/if}}
            <div class="action {{#if show.movement}}active{{else}}inactive{{/if}}" data-target="movement">
                <i class="fas fa-walking" title="Movement"></i>
            </div>
        </div>
    </div>
</section>

