<div class="hint-text">
    <h3>{{localize "PTU.WeatherLabel"}}</h3>
    {{{localize "PTU.WeatherHint"}}}
</div>
<div class="effects">
    {{#each effects}}
        <div class="effect {{#if (is mode 'disabled')}}disabled{{/if}}" data-id="{{id}}">
            <img src="{{icon}}" alt="{{name}}" class="icon">
            <span class="name">{{name}}</span>
            <select name="mode" class="mode-select">
                {{selectOptions ../modeOptions selected=mode localize=true}}
            </select>
            <div class="item-controls">
                <a class="item-control effect-to-chat" title="Send Effect to chat"><i
                        class="fas fa-external-link-alt"></i></a>
                {{#if (isGm)}}
                    <a class="item-control effect-delete" title="Delete Effect"><i class="fas fa-trash"></i></a>
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>