{{#if move}}
<div class="mm-damage-application content flexrow p-0" style="font-variant: normal;">
    <div class="swsh-box">
        <div class="swsh-header p-0" style="border-bottom: 0px solid #272727; text-align: center; background-color: #b3b3b3;">
            <div class="p-1 d-flex w-100 mt-0 mb-0 justify-content-center" style=";background-color: #272727 ;">
                <span style="padding: 1px;font-family:Modesto Condensed;font-size:20px; color: white; overflow-wrap: normal ! important; word-break: keep-all ! important;">{{moveName}}'s Damage Application</span>
            </div>
        </div>

        <div class="swsh-body dark-body">
            <div class="mon-col d-flex w-100 pt-1 pb-1" data-move-name="{{moveName}}" data-damage="{{damageRolls.normal.total}}" data-crit-damage="{{damageRolls.crit.total}}" data-type="{{move.type}}" data-category="{{move.category}}">
                <div class="mon-list-header d-flex w-100 pt-1 pb-1">
                    <div class="mon-item-header icon">
                        <h6>Icon</h6>
                    </div>
                    <div class="mon-item-header hit">
                        <h6>Hit</h6>
                    </div>
                    <div class="mon-item-header crit">
                        <h6>Crit</h6>
                    </div>
                    {{#unless (is move.category "Status")}}
                        <div class="mon-item-header applicators">
                            <h6>Applicators</h6>
                        </div>
                    {{/unless}}
                </div>
                {{#each data as | value key |}}
                    <div class="mon-list d-flex w-100 pt-1 pb-1" data-target="{{key}}" data-hit="{{value.isHit}}" data-crit="{{../crit}}">
                        <div class="mon-item icon">
                            <img src="{{value.target.image}}" style="max-height: 50px; border:none;">
                        </div>
                        <div class="mon-item hit">
                            {{#if value.isHit}}
                                <i class="tooltip fas fa-certificate">
                                    <span class="tooltip-content">Hit<br>(click to toggle)</span>
                                </i>
                            {{else}}
                                <i class="tooltip far fa-times-circle">
                                    <span class="tooltip-content">Miss<br>(click to toggle)</span>
                                </i>
                            {{/if}}
                        </div>
                        <div class="mon-item crit">
                            {{#unless (or (is ../crit "normal") (is ../crit "miss"))}}
                                <i class="tooltip fas fa-crosshairs">
                                    <span class="tooltip-content">Crit<br>(click to toggle)</span>
                                </i>
                            {{else}}
                                <i class="tooltip far fa-times-circle">
                                    <span class="tooltip-content">Not a Crit<br>(click to toggle)</span>
                                </i>
                            {{/unless}}
                        </div>
                        {{#unless (is ../move.category "Status")}}
                            <div class="mon-item applicators">
                                <i class="tooltip fas fa-circle" data-mode="full">
                                    <span class="tooltip-content">Apply Normal</span>
                                </i>
                                <i class="tooltip fas fa-adjust" data-mode="half">
                                    <span class="tooltip-content">Apply Half</span>
                                </i>
                                <i class="tooltip fas fa-minus-square" data-mode="weak">
                                    <span class="tooltip-content">Apply Resist Less</span>
                                </i>
                                <i class="tooltip fas fa-plus-square" data-mode="resist">
                                    <span class="tooltip-content">Apply Resist More</span>
                                </i>
                                <i class="tooltip fas fa-stop" data-mode="flat">
                                    <span class="tooltip-content">Apply Flat</span>
                                </i>
                            </div>
                        {{/unless}}
                    </div>
                {{/each}}
            </div>
        </div>

        {{#unless (or (is move.category "Status") (is (isdefined damageRolls.normal.data.db) false))}}
            <div class="swsh-header" style="padding: 0px ! important;  background-color:#272727 ! important;">
                <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important; background-color:#272727 ! important;">
                    <div class="col" style="padding: 0px ! important; background-color:#272727 ! important;">
                        <span class="type-img" style=" background-color:#272727 ! important;">
                            <img src="/systems/ptu/images/icons/DamageDivider_Blend50.png" style="width: 248px; height: auto; padding: 0px ! important; background-color:#272727 ! important;">
                        </span>
                    </div>
                </div>
            </div>
            {{#if damageRolls.normal.data.isStab}}
                <div class="col" style="padding: 0px ! important; background-color:#272727 ! important;"><span class="type-img"><img src="/systems/ptu/images/icons/STAB_Border_Roll.png" style="width: 248px; height: auto; padding: 0px ! important; background-color:#272727 ! important;"></span></div>
            {{/if}}
            <div class="col" style="padding: 0px ! important; background-color:#272727 ! important;">
                <span class="type-img" style=" background-color:#272727 ! important;">
                    <img src="/systems/ptu/images/icons/DividerIcon_DB{{damageRolls.normal.data.db}}.png" style="width: 248px; height: auto; padding: 0px ! important; background-color:#272727 ! important;">
                </span>
            </div>
                    
            <div class="swsh-body dark-body">
                <div class="dice-roll w-100 pt-1 pb-1">
                    <div class="dice-result p-0">
                        <div class="dice-formula p-0 m-0" >  
                            {{#each damageRolls.normal.terms as | term |}}
                                {{#if term.faces}}
                                    {{#each term.results as |result|}}<span class="roll die d{{term.faces}} {{minMaxDiceCheck result.result term.faces}} p-0 m-0">{{result.result}}</span>{{#if @last}}{{else}}+{{/if}}{{/each}}
                                {{else}}{{term.total}}{{/if}}
                            {{/each}}
                        </div>
                        <span class="dice-total p-0 m-0">
                            <h4 class="num-total">{{damageRolls.normal.total}}</h4>
                            <h6>
                                <button class="automated-damage-button p-0" data-move-name="{{moveName}}" data-damage="{{damageRolls.normal.total}}" data-crit-damage="{{damageRolls.crit.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="many" data-mode="full" data-crit="false">
                                    Apply Damage
                                </button>
                            </h6>
                        </span>
                        <div class="row justify-content-center w-100 ml-0 mr-0" style="height: 18px; border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px; background: rgba(0, 0, 0, 0.1);">
                            <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.normal.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="many" data-mode="weak" data-crit="false">Resist Less</button></div>
                            <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.normal.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="many" data-mode="resist" data-crit="false">Resist More</button></div>
                            <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.normal.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="many" data-mode="half" data-crit="false">1/2 DMG</button></div>
                            <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.normal.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="many" data-mode="flat" data-crit="false">Flat DMG</button></div>
                        </div>
                    </div>
                </div>
                {{#if damageRolls.crit}}
                    <div class="dice-roll w-100 pt-1 pb-1">
                        <div class="dice-result p-0">
                            <div class="dice-formula p-0 m-0">  
                                {{#each damageRolls.crit.terms as | term |}}
                                    {{#if term.faces}}
                                        {{#each term.results as |result|}}<span class="roll die d{{term.faces}} {{minMaxDiceCheck result.result term.faces}} p-0 m-0">{{result.result}}</span>{{#if @last}}{{else}}+{{/if}}{{/each}}
                                    {{else}}{{term.total}}{{/if}}
                                {{/each}}
                            </div>
                            <span class="dice-total p-0 m-0">
                                <h4 class="num-total">{{damageRolls.crit.total}}</h4>
                                <h5>
                                    <button class="automated-damage-button p-0" data-move-name="{{moveName}}" data-damage="{{damageRolls.normal.total}}" data-crit-damage="{{damageRolls.crit.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="many" data-mode="full" data-crit="true">
                                        Critical Damage
                                    </button>
                                </h5>
                            </span>
                            <div class="row justify-content-center w-100 ml-0 mr-0" style="height: 18px; border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px; background: rgba(0, 0, 0, 0.1);">
                                <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.crit.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="many" data-mode="weak" data-crit="true">Resist Less</button></div>
                                <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.crit.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="many" data-mode="resist" data-crit="true">Resist More</button></div>
                                <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.crit.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="many" data-mode="half" data-crit="true">1/2 DMG</button></div>
                                <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.crit.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="many" data-mode="flat" data-crit="true">Flat DMG</button></div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        {{else}}
            <div class="swsh-header" style="padding: 0px ! important;  background-color:#272727 ! important;">
                <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important; background-color:#272727 ! important;">
                    <div class="col" style="padding: 0px ! important; background-color:#272727 ! important;">
                        <span class="type-img" style=" background-color:#272727 ! important;">
                            <img src="/systems/ptu/images/icons/Divider.png" style="width: 248px; height: auto; padding: 0px ! important; background-color:#272727 ! important;">
                        </span>
                    </div>
                </div>
            </div>
            <div class="swsh-body dark-body">
                <div class="dice-roll w-100 pt-1 pb-1">
                    <div class="dice-result p-0">
                        <span class="dice-total p-0 m-0">
                            <h6>
                                <button disabled class="automated-effect-button p-0" data-move-name="{{moveName}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="many">
                                    Apply Effect
                                </button>
                            </h6>
                        </span>
                    </div>
                </div>
            </div>
        {{/unless}}
    </div>
</div>
{{/if}}