{{#if move}}
<div class="mm-move content flexrow p-0" style="font-variant: normal;">
    <div class="swsh-box">
        <div class="swsh-header p-0" style="border-bottom: 0px solid #272727; text-align: center; background-color: #b3b3b3;">
            <div class="d-flex w-100 mt-0 mb-0 justify-content-center" style=";background-color: #272727 ;">
                <span style="padding: 1px;font-family:Modesto Condensed;font-size:40px; color: white; overflow-wrap: normal ! important; word-break: keep-all ! important;">{{moveName}}</span>
            </div>
        </div>

        <div class="swsh-header" style="padding: 0px ! important; background-color:#272727 ! important;">
            <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important; background-color:#272727 ! important;">
                <div class="col" style="padding: 0px ! important;">
                    <span class="type-img">
                        <img src="/systems/ptu/images/icons/{{move.category}}.png" style="width: 124px; height: auto; padding: 0px ! important;">
                    </span>
                </div>
                <div class="col" style="padding: 0px ! important;">
                    <span class="type-img">
                        <img src="/systems/ptu/images/icons/{{move.type}}IC.png" style="width: 124px; height: auto; padding: 0px ! important;">
                    </span>
                </div>
            </div>
        </div>

        {{#if isFiveStrike}}
        <div class="swsh-header" style="padding: 0px ! important;">
            <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important;">
                <div class="col" style="padding: 0px ! important;"><span class="type-img"><img src="/systems/ptu/images/icons/FiveStrike{{fiveStrikeHits}}.png" style="width: 248px; height: auto; padding: 0px ! important;"></span></div>
            </div>
        </div>
        {{/if}}

        {{#if isDoubleStrike}}
        <div class="swsh-header" style="padding: 0px ! important;">
            <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important;">
                <div class="col" style="padding: 0px ! important;"><span class="type-img"><img src="/systems/ptu/images/icons/DoubleStrike.png" style="width: 248px; height: auto; padding: 0px ! important;"></span></div>
            </div>
        </div>
        {{/if}}
        
        {{#if hasAC}}
        <div class="swsh-header" style="padding: 0px ! important;background-color: #b3b3b3;">
            <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important;">
                <div class="col" style="padding: 0px ! important; background-color:#272727 ! important;">
                    <span class="type-img" style=" background-color:#272727 ! important;">
                        <img src="/systems/ptu/images/icons/AttackDivider_Blend50.png" style="width: 248px; height: auto; padding: 0px ! important;">
                    </span>
                </div>
            </div>
        </div>
        {{/if}}

        <div class="swsh-body" style="background-color: #b3b3b3; ">
            {{#if hasAC}}
                <div class="dice-roll w-100" style="padding: 0px 0px; font-size: 10px ! important;">
                    <div class="dice-result" style="padding: 0px 0px; font-size: 10px ! important;">
                        <div class="dice-formula" style="padding: 0px 0px; margin: 0px; font-size: 10px ! important;">  
                            {{#each acRoll.terms as | term |}}
                                {{#if term.faces}}
                                    {{#each term.results as |result|}}<span class="roll die d{{term.faces}} {{minMaxDiceCheck result.result term.faces}}" style="padding: 0px; margin: 0px; font-size: 8px ! important;">{{result.result}}</span>{{#if @last}}{{else}}+{{/if}}{{/each}}
                                {{else}}{{term.total}}{{/if}}
                            {{/each}}
                        </div>
                        {{#if acRoll2}}
                            <div class="dice-formula" style="padding: 0px 0px; margin: 0px; font-size: 10px ! important;">  
                                {{#each acRoll2.terms as | term |}}
                                    {{#if term.faces}}
                                        {{#each term.results as |result|}}<span class="roll die d{{term.faces}} {{minMaxDiceCheck result.result term.faces}}" style="padding: 0px; margin: 0px; font-size: 8px ! important;">{{result.result}}</span>{{#if @last}}{{else}}+{{/if}}{{/each}}
                                    {{else}}{{term.total}}{{/if}}
                                {{/each}}
                            </div>
                        {{/if}}
                        {{#if (biggerOrEqual targetAmount 1)}}
                            {{#each data as | value key |}}
                                <span class="dice-total">
                                    <h3 class="num-total">{{../acRoll.total}}</h3>
                                    <h5>vs.</h5>
                                    <h3>{{value.target.evasion.value}}</h3>
                                    <span class="img-row">
                                        <img src="{{../actorImage}}" style="max-height: 70px; border:none;">
                                        <h6 style=" padding-top:0px !important; padding-bottom:0px !important; ">{{value.target.name}}'s<br>{{value.target.evasion.type}} Evasion</h6>
                                        <img src="{{value.target.image}}" style="max-height: 70px; border:none;">
                                    </span>
                                    {{#if ../acRoll2}}
                                        <h3 class="num-total">{{../acRoll2.total}}</h3>
                                        <h5>vs.</h5>
                                        <h3>{{value.target.evasion.value}}</h3>
                                        <span class="img-row">
                                            <img src="{{../actorImage}}" style="max-height: 70px; border:none;">
                                            <h6 style=" padding-top:0px !important; padding-bottom:0px !important; ">{{value.target.name}}'s<br>{{value.target.evasion.type}} Evasion</h6>
                                            <img src="{{value.target.image}}" style="max-height: 70px; border:none;">
                                        </span>
                                    {{/if}}
                                    {{#if ../crit}}
                                        {{#if (not ../crit "normal")}}
                                            <div class="swsh-header" style="padding: 0px ! important;background-color: #b3b3b3;">
                                                {{#if (is ../crit "hit")}}
                                                    <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important;">
                                                        <div class="col" style="padding: 0px ! important;  border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px;">
                                                            <span class="type-img">
                                                                <img src="/systems/ptu/images/icons/CriticalHit.png" style="width: 248px; height: auto; padding: 0px ! important;">
                                                            </span>
                                                        </div>
                                                    </div>
                                                {{else}}
                                                    {{#if (is ../crit "double-hit")}}
                                                        <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important;">
                                                            <div class="col" style="padding: 0px ! important;  border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px;">
                                                                <span class="type-img">
                                                                    <img src="/systems/ptu/images/icons/CriticalHit.png" style="width: 248px; height: auto; padding: 0px ! important;">
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important;">
                                                            <div class="col" style="padding: 0px ! important;  border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px;">
                                                                <span class="type-img">
                                                                    <img src="/systems/ptu/images/icons/CriticalHit.png" style="width: 248px; height: auto; padding: 0px ! important;">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    {{else}}
                                                        <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important;">
                                                            <div class="col" style="padding: 0px ! important;  border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px;">
                                                                <span class="type-img">
                                                                    <img src="/systems/ptu/images/icons/CriticalMiss.png" style="width: 248px; height: auto; padding: 0px ! important;">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    {{/if}}
                                                {{/if}}
                                            </div>
                                        {{else}}
                                            {{#if value.isHit}}
                                                <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important; margin: 0px ! important;">
                                                    <div class="col" style="padding: 0px ! important; margin: 0px ! important;  border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px;">
                                                        <span class="type-img"><img src="/systems/ptu/images/icons/HitIcon.png" style="width: 248px; height: auto; padding: 0px ! important;"></span>
                                                    </div>
                                                </div>
                                            {{else}}
                                                <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important; margin: 0px ! important;">
                                                    <div class="col" style="padding: 0px ! important; margin: 0px ! important;  border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px;">
                                                        <span class="type-img"><img src="/systems/ptu/images/icons/MissIcon.png" style="width: 248px; height: auto; padding: 0px ! important;"></span>
                                                    </div>
                                                </div>
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                    {{#unless ../noRangeCalc}}
                                        {{#unless value.inRange}}
                                            <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important; margin: 0px ! important;">
                                                <div class="col" style="padding: 0px ! important; margin: 0px ! important;  border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px;">
                                                    <span class="type-img">
                                                        <img src="/systems/ptu/images/icons/OutOfRangeIcon.png" style="width: 248px; height: auto; padding: 0px ! important; ">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important; margin: 0px ! important;">
                                                <div class="p-1 readable pokemon p8 tight" style="word-break: break-word;text-align: start;line-height: 16px;font-family:monospace;font-size:16px;text-align:center;">
                                                    Range {{../move.range}}, but target is {{value.range}}m away!
                                                </div>
                                            </div>
                                        {{/unless}}
                                    {{/unless}}
                                </span>
                            {{/each}}
                        {{else}}
                            <span class="dice-total" style="display: inline-flex;justify-content: space-evenly; align-items: center;width:100%;font-family:Modesto Condensed;font-size:38px; color: rgb(0, 0, 0);">
                                <h3 class="num-total">{{acRoll.total}}</h3>
                                <h6>vs. {{move.category}} Evasion</h6>
                            </span>
                            {{#if acRoll2}}
                                <span class="dice-total" style="display: inline-flex;justify-content: space-evenly; align-items: center;width:100%;font-family:Modesto Condensed;font-size:38px; color: rgb(0, 0, 0);">
                                    <h3 class="num-total">{{acRoll2.total}}</h3>
                                    <h6>vs. {{move.category}} Evasion</h6>
                                </span>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            {{/if}}

            {{#unless noRoll}}
                {{#if crit}}
                    {{#unless (biggerOrEqual targetAmount 1)}}
                        {{#if (not crit "normal")}}
                            <div class="swsh-header" style="padding: 0px ! important;background-color: #b3b3b3;">
                                {{#if (is crit "hit")}}
                                    <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important;">
                                        <div class="col" style="padding: 0px ! important;  border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px;">
                                            <span class="type-img">
                                                <img src="/systems/ptu/images/icons/CriticalHit.png" style="width: 248px; height: auto; padding: 0px ! important;">
                                            </span>
                                        </div>
                                    </div>
                                {{else}}
                                    {{#if hasAC}}
                                        <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important;">
                                            <div class="col" style="padding: 0px ! important;  border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px;">
                                                <span class="type-img">
                                                    <img src="/systems/ptu/images/icons/CriticalMiss.png" style="width: 248px; height: auto; padding: 0px ! important;">
                                                </span>
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/if}}
                            </div>
                        {{/if}}
                    {{/unless}}
                {{/if}}
            {{/unless}}
        </div>
        {{#unless (biggerOrEqual targetAmount 1)}}                
            {{#if damageRolls.normal}}
                <div class="swsh-header" style="padding: 0px ! important;  background-color:#272727 ! important;">
                    <div class="d-flex w-100 mt-0 mb-0" style="padding: 0px ! important; background-color:#272727 ! important;">
                        <div class="col" style="padding: 0px ! important; background-color:#272727 ! important;">
                            <span class="type-img" style=" background-color:#272727 ! important;">
                                <img src="/systems/ptu/images/icons/DamageDivider_Blend50.png" style="width: 248px; height: auto; padding: 0px ! important; background-color:#272727 ! important;">
                            </span>
                        </div>
                    </div>
                </div>
                {{#if damageRolls.normal}}
                    {{#if damageRolls.normal.data.isStab}}
                        <div class="col" style="padding: 0px ! important; background-color:#272727 ! important;"><span class="type-img"><img src="/systems/ptu/images/icons/STAB_Border_Roll.png" style="width: 248px; height: auto; padding: 0px ! important; background-color:#272727 ! important;"></span></div>
                    {{/if}}
                    <div class="col" style="padding: 0px ! important; background-color:#272727 ! important;">
                        <span class="type-img" style=" background-color:#272727 ! important;">
                            <img src="/systems/ptu/images/icons/DividerIcon_DB{{damageRolls.normal.data.db}}.png" style="width: 248px; height: auto; padding: 0px ! important; background-color:#272727 ! important;">
                        </span>
                    </div>
                {{/if}}

                        

                <div class="swsh-body dark-body">
                    <div class="dice-roll w-100 pt-1 pb-1">
                        <div class="dice-result p-0">
                            <div class="dice-formula p-0 m-0" >  
                                {{#each damageRolls.normal.terms as | term |}}
                                    {{#if term.faces}}
                                        {{#each term.results as |result|}}<span class="roll die d{{term.faces}} {{minMaxDiceCheck result.result term.faces}} p-0 m-0">{{result.result}}</span>{{#if @last}}{{else}}+{{/if}}{{/each}}
                                    {{else}}{{term.total}}{{/if}}
                                {{/each}}
                            </div>
                            <span class="dice-total p-0 m-0">
                                <h4 class="num-total">{{damageRolls.normal.total}}</h4>
                                <h6>
                                    <button class="automated-damage-button p-0" data-move-name="{{moveName}}" data-damage="{{damageRolls.normal.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="{{key data}}" data-mode="full" data-crit="false">
                                        Apply Damage
                                    </button>
                                </h6>
                            </span>
                            <div class="row justify-content-center w-100 ml-0 mr-0" style="height: 18px; border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px; background: rgba(0, 0, 0, 0.1);">
                                <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.normal.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="{{key data}}" data-mode="weak" data-crit="false">Resist Less</button></div>
                                <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.normal.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="{{key data}}" data-mode="resist" data-crit="false">Resist More</button></div>
                                <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.normal.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="{{key data}}" data-mode="half" data-crit="false">1/2 DMG</button></div>
                                <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.normal.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="{{key data}}" data-mode="flat" data-crit="false">Flat DMG</button></div>
                            </div>
                        </div>
                    </div>
                    {{#if damageRolls.crit}}
                        <div class="dice-roll w-100 pt-1 pb-1">
                            <div class="dice-result p-0">
                                <div class="dice-formula p-0 m-0">  
                                    {{#each damageRolls.crit.terms as | term |}}
                                        {{#if term.faces}}
                                            {{#each term.results as |result|}}<span class="roll die d{{term.faces}} {{minMaxDiceCheck result.result term.faces}} p-0 m-0">{{result.result}}</span>{{#if @last}}{{else}}+{{/if}}{{/each}}
                                        {{else}}{{term.total}}{{/if}}
                                    {{/each}}
                                </div>
                                <span class="dice-total p-0 m-0">
                                    <h4 class="num-total">{{damageRolls.crit.total}}</h4>
                                    <h5>
                                        <button class="automated-damage-button p-0" data-move-name="{{moveName}}" data-damage="{{damageRolls.crit.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="{{key data}}" data-mode="full" data-crit="true">
                                            Critical Damage
                                        </button>
                                    </h5>
                                </span>
                                <div class="row justify-content-center w-100 ml-0 mr-0" style="height: 18px; border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px; background: rgba(0, 0, 0, 0.1);">
                                    <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.crit.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="{{key data}}" data-mode="weak" data-crit="true">Resist Less</button></div>
                                    <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.crit.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="{{key data}}" data-mode="resist" data-crit="true">Resist More</button></div>
                                    <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.crit.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="{{key data}}" data-mode="half" data-crit="true">1/2 DMG</button></div>
                                    <div class="small-button-container"><button class="automated-damage-button small" data-move-name="{{moveName}}" data-damage="{{damageRolls.crit.total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-target="{{key data}}" data-mode="flat" data-crit="true">Flat DMG</button></div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
        {{/unless}}
        <div class="col" style="padding: 0px ! important; background-color:#272727 ! important;">
            <span class="type-img" style=" background-color:#272727 ! important;">
                <img src="/systems/ptu/images/icons/EffectDivider_Blend50.png" style="width: 248px; height: auto; padding: 0px ! important;">
            </span>
        </div>

        <div class="swsh-body col-sm-12 pb-0" style="background-color: #b3b3b3;">
            <div class="d-flex w-100 mt-0 mb-0 fs-11" style="align-items: center;text-align: center; background-color: #b3b3b3; border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px; background: rgba(0, 0, 0, 0.1);">
                <div class="p-1 readable pokemon p8 tight"
                    style="word-break: break-word;text-align: start;line-height: 14px;font-family:'Segoe UI';font-size:14px;">{{{move.effect}}}</div>
            </div>
        </div>
        <div class="swsh-body col-sm-12 pt-0" style="background-color: #b3b3b3;">
            <div class="d-flex w-100 mt-0 mb-0 fs-11" style="align-items: center;text-align: center; background-color: #b3b3b3; border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px; background: rgba(0, 0, 0, 0.1);">
                <div class="p-1 readable pokemon p8 tight"
                    style="word-break: break-word;text-align: start;line-height: 16px;font-family:Modesto Condensed;font-size:20px;">Frequency: {{{move.frequency}}}</div>
            </div>
            <div class="d-flex w-100 mt-0 mb-0 fs-11" style="align-items: center;text-align: center; background-color: #b3b3b3; border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px; background: rgba(0, 0, 0, 0.1);">
                <div class="p-1 readable pokemon p8 tight"
                    style="word-break: break-word;text-align: start;line-height: 16px;font-family:Modesto Condensed;font-size:20px;">Range: {{{move.range}}}</div>
            </div>
            {{#if modifiers}}
                <div class="d-flex w-100 mt-0 mb-0 fs-11" style="align-items: left;text-align: left; background-color: #b3b3b3; border: 1px solid #999; box-shadow: 0 0 2px #FFF inset; border-radius: 3px; background: rgba(0, 0, 0, 0.1);">
                    <div class="p-1 readable pokemon p8 tight"
                        style="word-break: break-word;text-align: left;line-height: 16px;font-family:Modesto Condensed;font-size:20px;color: #006300;"> 
                        {{#each modifiers as | mod | }}
                            {{{mod}}}{{#unless @last}}<br>{{/unless}}
                        {{/each}}    
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>
{{/if}}