{{#if move}}
<div class="content flexrow pt-1" style="font-variant: normal;">
    <div class="swsh-box">
        <div class="swsh-header" style="border-bottom:1px solid #00000020;text-align:center">
            <div class="d-flex w-100 mt-1 mb-1 justify-content-center">
                <span style="padding:5px">{{move.name}}</span>
            </div>
        </div>
        <div class="d-flex w-100 fs-10 justify-content-center" style="flex-wrap: wrap;word-break: break-word;">
            <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1" style="align-items:center;">
                Type
            </div>
            <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                <span class="type-img"><img src="/systems/ptu/css/images/types/{{move.type}}IC.webp"></span>
            </div>
            <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1 fs-9" style="align-items:center;">
                Category
            </div>
            <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                <span class="type-img"><img src="/systems/ptu/css/images/categories/{{move.category}}.png"></span>
            </div>
            <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1 fs-8" style="align-items:center;">
                Frequency
            </div>
            <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                {{move.frequency}}
            </div>
            <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1" style="align-items:center;">
                Range
            </div>
            <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                {{move.range}}
            </div>
            {{#if verboseChatInfo}}
                <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1" style="align-items:center;">
                    DB
                </div>
                <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                    {{move.damageBase}}
                </div>
                <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1" style="align-items:center;">
                    AC
                </div>
                <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                    {{move.ac}}
                </div>
            {{else}}
                {{#if (not (hideAcOrDb move.damageBase) true)}}
                    <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1" style="align-items:center;">
                        DB
                    </div>
                    <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                        {{move.damageBase}}
                    </div>
                {{/if}}
                {{#if (not (hideAcOrDb move.ac) true)}}
                    <div class="justify-content-center swsh-header col-sm-5 pt-1 pb-1" style="align-items:center;">
                        AC
                    </div>
                    <div class="justify-content-center swsh-body col-sm-7" style="text-align: center;">
                        {{move.ac}}
                    </div>
                {{/if}}
            {{/if}}
            <div class="swsh-header col-sm-12">
                <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                    <div class="col">Effect</div>
                </div>
            </div>
            <div class="swsh-body col-sm-12">
                <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                    <div class="p-1 readable pokemon p8 tight"
                        style="word-break: break-word;text-align: start;line-height: 16px;">{{{move.effect}}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}