{{#if move}}
<div class="content pt-1" style="font-variant: normal;">
    <div class="swsh-box">
        <div class="swsh-header" style="border-bottom: 1px solid #00000020; text-align: center;">
            <div class="d-flex w-100 mt-1 mb-1 justify-content-center">
                <span style="padding: 5px;">{{name}}</span>
            </div>
        </div>
        
        {{#if verboseChatInfo}}
        <div class="swsh-header fs-10">
            <div class="d-flex w-100 mt-1" style="text-align: end;">
                <div class="col-sm-7" style="align-self: center;">
                    <label>Type:</label>
                </div>
                <div class="col">
                    <span class="type-img">
                        <img src="/systems/ptu/css/images/types/{{move.type}}IC.webp">
                    </span>
                </div>
            </div>
        </div>
        <div class="swsh-header fs-10">
            <div class="d-flex w-100 mb-1" style="text-align: end;">
                <div class="col-sm-7" style="align-self: center;">
                    <label>Category:</label>
                </div>
                <div class="col">
                    <span class="type-img">
                        <img src="/systems/ptu/css/images/categories/{{move.category}}.png">
                    </span>
                </div>
            </div>
        </div>
        {{else}}
        <div class="swsh-header">
            <div class="d-flex w-100 mt-1 mb-1">
                <div class="col"><span class="type-img"><img src="/systems/ptu/css/images/types/{{move.type}}IC.webp"></span></div>
                <div class="col"><span class="type-img"><img src="/systems/ptu/css/images/categories/{{move.category}}.png"></span></div>
            </div>
        </div>
        {{/if}}
        <div class="swsh-body">
            {{#if roll}}
                {{#unless (is move.ac "--")}}
                    <div class="dice-roll w-100" style="padding: 10px 5px;">
                        <div class="dice-result">
                            <div class="dice-formula">  
                                {{#each roll.terms as | term |}}
                                    {{#if term.faces}}
                                        {{#each term.results as |result|}}<span class="roll die d{{term.faces}} {{minMaxDiceCheck result.result term.faces}}">{{result.result}}</span>{{#if @last}}{{else}}+{{/if}}{{/each}}
                                    {{else}}{{#if term.operator}}{{term.operator}}{{else}}{{term.number}}{{/if}}{{/if}}
                                {{/each}}
                            </div>
                            <span class="dice-total" style="display: inline-flex;justify-content: space-evenly; align-items: center;width:100%;"><h4 class="num-total">{{roll._total}}</h4><h5>To Hit</h5></span>
                        </div>
                    </div>
                {{else}}
                    <div class="d-flex w-100 pt-1 pb-1" style="word-break: break-word;text-align: center;padding: 5px;">
                        <h4>{{name}} cannot Miss!</h4>
                    </div>
                {{/unless}}
            {{/if}}
            {{#if crit}}
                {{#if (not crit "normal")}}
                    <div class="d-flex w-100 pt-1 pb-1" style="word-break: break-word;text-align: center;border-top: 1px solid #00000080;padding: 5px;">
                        {{#if (is crit "hit")}}
                            <h4>It's a Critical Hit!</h4>
                        {{else}}
                            <h4>It's a Critical Miss!</h4>
                        {{/if}}
                    </div>
                {{/if}}
            {{/if}}
            {{#if damageRoll}}
                <div class="dice-roll w-100" style="border-top: 1px solid #00000080;padding: 10px 5px;">
                    <div class="dice-result">
                        <div class="dice-formula">  
                            {{#each damageRoll.terms as | term |}}
                                {{#if term.faces}}
                                    {{#each term.results as |result|}}<span class="roll die d{{term.faces}} {{minMaxDiceCheck result.result term.faces}}">{{result.result}}</span>{{#if @last}}{{else}}+{{/if}}{{/each}}
                                {{else}}{{#if term.operator}}{{term.operator}}{{else}}{{term.number}}{{/if}}{{/if}}
                            {{/each}}
                        </div>
                        <span class="dice-total" style="display: inline-flex;justify-content: space-evenly; align-items: center;width:100%;"><h4 class="num-total">{{damageRoll._total}}</h4><h5>Damage</h5></span>
                    </div>
                </div>
            {{/if}}
            {{#if critRoll}}
                <div class="dice-roll w-100" style="border-top: 1px solid #00000080;padding: 10px 5px;">
                    <div class="dice-result">
                        <div class="dice-formula">  
                            {{#each critRoll.terms as | term |}}
                                {{#if term.faces}}
                                    {{#each term.results as |result|}}<span class="roll die d{{term.faces}} {{minMaxDiceCheck result.result term.faces}}">{{result.result}}</span>{{#if @last}}{{else}}+{{/if}}{{/each}}
                                {{else}}{{#if term.operator}}{{term.operator}}{{else}}{{term.number}}{{/if}}{{/if}}
                            {{/each}}
                        </div>
                        <span class="dice-total" style="display: inline-flex;justify-content: space-evenly; align-items: center;width:100%;"><h4 class="num-total">{{critRoll._total}}</h4><h6>Crit Damage</h6></span>
                    </div>
                </div>
            {{/if}}
            {{#if (or damageRoll critRoll)}}
                <div class="w-100 p-2" style="border-top:1px solid #00000080;/* padding:10px 5px */">
                    <button class="apply-damage-button" data-is-crit="{{isCrit}}" data-reg-damage="{{damageRoll._total}}" data-crit-damage="{{critRoll._total}}" data-type="{{move.type}}" data-category="{{move.category}}" data-move-name="{{name}}">
                        Apply Damage
                        <div class="hover-button">
                            <a class="half-damage-button hover-button">1/2 Damage</a>
                            <a class="resist-damage-button hover-button">Resist 1 step</a>
                            <a class="flat-damage-button hover-button">Flat Damage</a>
                        </div>
                    </button>

                </div>
            {{/if}}
        </div>
    
    {{#if (not cdp "none")}}
        {{#if (is cdp "snippet")}}
            {{#if move.snippet}}
                <div class="swsh-header col-sm-12">
                    <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                        <div class="col">Effect</div>
                    </div>
                </div> 
                <div class="swsh-body col-sm-12">
                    <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                        <div class="p-1 readable pokemon p8 tight"
                            style="word-break: break-word;text-align: start;line-height: 16px;">{{{move.snippet}}}</div>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        {{#if (is cdp "snippet-or-full")}}
            <div class="swsh-header col-sm-12">
                <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                    <div class="col">Effect</div>
                </div>
            </div>
            {{#if move.snippet}} 
                <div class="swsh-body col-sm-12">
                    <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                        <div class="p-1 readable pokemon p8 tight"
                            style="word-break: break-word;text-align: start;line-height: 16px;">{{{move.snippet}}}</div>
                    </div>
                </div>
            {{else}}
                <div class="swsh-body col-sm-12">
                    <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                        <div class="p-1 readable pokemon p8 tight"
                            style="word-break: break-word;text-align: start;line-height: 16px;">{{{move.effect}}}</div>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        {{#if (is cdp "show")}}
            <div class="swsh-header col-sm-12">
                <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                    <div class="col">Effect</div>
                </div>
            </div>
            <div class="swsh-body col-sm-12">
                <div class="d-flex w-100 mt-1 mb-1 fs-11" style="align-items: center;text-align: center;">
                    <div class="p-1 readable pokemon p8 tight"
                        style="word-break: break-word;text-align: start;line-height: 16px;">{{{move.effect}}}</div>
                </div>
            </div>
        {{/if}}
    {{/if}}
    </div>
</div>
{{/if}}