<div class="dice-shadow">
    <div class="dice-roll attack-roll attack">
        <div class="dice-result">
            <div class="dice-formula">{{formula}}</div>
            {{{tooltip}}}
            {{#if (gt targets.length 0)}}
                {{#each targets as |target|}}
                    <div class="dice-total">
                        <span class="num-total">{{@root/total}}</span>
                        <span>vs.</span>
                        <span>{{#unless target.isPrivate}}{{target.dc.value}}{{else}}?{{/unless}}</span>
                    </div>
                    <div class="img-row">
                        <img src="{{@root/self.img}}"/>
                        <span>{{#if target.isPrivate}}???{{else}}{{target.name}}{{/if}}'s {{localize target.dc.slug}}</span>
                        <img src="{{target.img}}"/>
                    </div>
                    {{#unless target.isPrivate}}
                    <div class="d-flex flex-row justify-content-center">
                        <span class="type-img">
                            {{#if @root/outcomes}}
                                {{#switch (lookup @root/outcomes target.uuid)}}
                                    {{#case "hit"}}
                                        <img src="/systems/ptu/images/icons/HitIcon.png">
                                    {{/case}}
                                    {{#case "crit-hit"}}
                                        <img src="/systems/ptu/images/icons/CriticalHit.png">
                                    {{/case}}
                                    {{#case "blocked-crit"}}
                                        <img class="blocked tooltip" title="{{localize "PTU.CriticalImmunityLabel"}}" src="/systems/ptu/images/icons/HitIcon.png">
                                    {{/case}}
                                    {{#case "crit-miss"}}
                                        <img src="/systems/ptu/images/icons/CriticalMiss.png">
                                    {{/case}}
                                    {{#case "miss"}}
                                        <img src="/systems/ptu/images/icons/MissIcon.png">
                                    {{/case}}
                                {{/switch}}
                            {{else}}
                                {{#switch (lookup @root/outcome target._id)}}
                                    {{#case "hit"}}
                                        <img src="/systems/ptu/images/icons/HitIcon.png">
                                    {{/case}}
                                    {{#case "crit-hit"}}
                                        <img src="/systems/ptu/images/icons/CriticalHit.png">
                                    {{/case}}
                                    {{#case "blocked-crit"}}
                                        <img class="blocked tooltip" title="{{localize "PTU.CriticalImmunityLabel"}}" src="/systems/ptu/images/icons/HitIcon.png">
                                    {{/case}}
                                    {{#case "crit-miss"}}
                                        <img src="/systems/ptu/images/icons/CriticalMiss.png">
                                    {{/case}}
                                    {{#case "miss"}}
                                        <img src="/systems/ptu/images/icons/MissIcon.png">
                                    {{/case}}
                                {{/switch}}
                            {{/if}}
                        </span>
                    </div>
                    {{/unless}}
                {{/each}}
            {{else}}
                <div class="dice-total">
                    <span class="num-total">{{#if (is type "initiative")}}{{padDecimal total 2}}{{else}}{{total}}{{/if}}</span>
                </div>
            {{/if}}
        </div>
        {{#if contestedCheck}}
            <div class="flavor-text footer">
                <div class="buttons">
                    <button class="button contested-check" title="Contested-Check">Contested Check</button>
                </div>
            </div>
        {{/if}}
    </div>
</div>