{{#with data}}
    {{!-- Form Element --}}
    {{#if cssClass}}
        <form class="{{cssClass}}" autocomplete="off">
    {{else}}
        <form autocomplete="off">
    {{/if}}

        {{!-- Sheet Header --}}
        <header class="sheet-header mb-2">
            <div class="itemBox">
                <div class="content">
                    Frequency: <span class="readable pokemon p11">{{system.frequency}}</span><br>
                    Effect: <span class="readable p11 pokemon">{{{system.effect}}}</span>
                </div>
            </div>
        </header>

        {{!-- Sheet Body --}}
        <div class="sheet-body">
            <div class="details readable h-100">
                <div style="display: grid; grid-template-columns: 45% 50%; justify-content: space-between; padding: 0 5px;">
                    {{!-- Left Column --}}
                    <div class="hgss-box align-items-center" style="display: grid; grid-template-columns: 40% 60%;">
                        {{!-- Name Input --}}
                        <div class="hgss-header vertical">
                            <label for="name">Name:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="name"
                                type="text"
                                value="{{name}}"
                                placeholder="Name"
                            />
                        </div>

                        {{!-- Origin Input --}}
                        <div class="hgss-header vertical">
                            <label for="system.origin">Origin:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="system.origin"
                                type="text"
                                value="{{system.origin}}"
                                placeholder="Level-Up"
                            />
                        </div>

                        {{!-- Tier Input --}}
                        <div class="hgss-header vertical">
                            <label for="system.tier">Tier:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="system.tier"
                                type="text"
                                value="{{system.tier}}"
                                placeholder=""
                            />
                        </div>
                        {{!-- Effect --}}
                        <div class="hgss-header mt-1 mb-1 " style="padding: 5px 5px;">
                            <label for="system.effect">Effect:</label>
                        </div>
                        <div class="hgss-body" style="word-break: break-word;">
                            <textarea
                                class="ml-2"
                                name="system.effect"
                                type="text"
                                placeholder="Effect"
                            >{{{system.effect}}}</textarea>
                        </div>
                        {{!-- Snippet --}}
                        <div class="hgss-header mt-1 mb-1 " style="padding: 5px 5px;">
                            <label for="system.snippet">Snippet:</label>
                        </div>
                        <div class="hgss-body" style="word-break: break-word;">
                            <textarea
                                class="ml-2"
                                name="system.snippet"
                            >{{{system.snippet}}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{{/with}}