{{#with data}}
    {{!-- Form Element --}}
    {{#if cssClass}}
        <form class="{{cssClass}}" autocomplete="off">
    {{else}}
        <form autocomplete="off">
    {{/if}}

        {{!-- Sheet Header --}}
        <header class="sheet-header mb-2">
            <div class="itemBox">
                <div class="content">
                    Effect: <span class="readable p11 pokemon">{{{system.effect}}}</span>
                </div>
            </div>
        </header>

        {{!-- Sheet Body --}}
        <div class="sheet-body">
            <div class="details readable h-100">
                <div style="display: grid; grid-template-columns: 45% 50%; justify-content: space-between; padding: 0 5px;">
                    <div class="hgss-box align-items-center" style="display: grid; grid-template-columns: 40% 60%;">
                        {{!-- Name --}}
                        <div class="hgss-header vertical">
                            <label for="name">Name:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="name"
                                type="text"
                                value="{{name}}"
                                placeholder="Name"
                            />
                        </div>
                            
                        {{!-- Origin --}}
                        <div class="hgss-header vertical">
                            <label for="system.origin">Origin:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="system.origin"
                                type="text"
                                value="{{system.origin}}"
                                placeholder="Level-Up"
                            />
                        </div>

                        {{!-- Prerequisites --}}
                        <div class="hgss-header vertical">
                            <label for="system.prerequisites">Prerequisites:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="system.prerequisites"
                                type="text"
                                value="{{system.prerequisites}}"
                                placeholder=""
                            />
                        </div>

                        {{!-- Notes --}}
                        <div class="hgss-header vertical">
                            <label for="system.notes">Notes:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="system.notes"
                                type="text"
                                value="{{system.notes}}"
                                placeholder=""
                            />
                        </div>
                    </div>
                    <div class="hgss-box align-items-center">
                        {{!-- Effect --}}
                        <div class="hgss-header mb-1 " style="padding: 6px 5px;">
                            <label for="system.effect">Effect:</label>
                        </div>
                        <div class="hgss-body" style="word-break: break-word;">
                            <textarea
                                class="ml-2"
                                name="system.effect">{{system.effect}}</textarea>
                        </div>

                        {{!-- Snippet --}}
                        <div class="hgss-header mt-1 mb-1 " style="padding: 5px 5px;">
                            <label for="system.snippet">Snippet:</label>
                        </div>
                        <div class="hgss-body" style="word-break: break-word;">
                            <textarea
                                class="ml-2"
                                name="system.snippet">{{system.snippet}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{{/with}}