{{#with data}}
    {{!-- Form Element --}}
    {{#if cssClass}}
        <form class="{{cssClass}}" autocomplete="off">
    {{else}}
        <form autocomplete="off">
    {{/if}}

        {{!-- Sheet Header --}}
        <header class="sheet-header mb-2">
            <div class="itemBox">
                <img class="content profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
                <div class="content with-image">
                    Description: <span class="readable p11 pokemon">{{{system.effect}}}</span>
                </div>
            </div>
        </header>

        {{!-- Sheet Body --}}
        <div class="sheet-body">
            <div class="details readable h-100">
                <div style="display: grid; grid-template-columns: 45% 50%; justify-content: space-between; padding: 0 5px;">
                    <div class="hgss-box align-items-center" style="display: grid; grid-template-columns: 40% 60%;">
                        {{!-- Name --}}
                        <div class="hgss-header vertical">
                            <label for="name">Name:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="name"
                                type="text"
                                value="{{name}}"
                                placeholder="Name"
                            />
                        </div>

                        {{!-- Origin --}}
                        <div class="hgss-header vertical">
                            <label for="system.origin">Obtained at:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="system.origin"
                                type="text"
                                value="{{system.origin}}"
                                placeholder="Pickup"
                            />
                        </div>

                        {{!-- Quantity --}}
                        <div class="hgss-header vertical">
                            <label for="system.quantity">Quantity:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="system.quantity"
                                type="text"
                                value="{{system.quantity}}"
                                data-dtype="Number"
                            />
                        </div>

                        {{!-- Cost --}}
                        <div class="hgss-header vertical">
                            <label for="system.cost">Cost:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="system.cost"
                                type="text"
                                value="{{system.cost}}"
                                data-dtype="Number"
                            />
                        </div>

                        {{!-- Category --}}
                        <div class="hgss-header vertical">
                            <label for="system.category">Category:</label>
                        </div>
                        <div class="hgss-body">
                            <input
                                class="ml-2"
                                name="system.category"
                                type="text"
                                value="{{system.category}}"
                            />
                        </div>
                    </div>
                    <div class="hgss-box align-items-center">
                        {{!-- Description --}}
                        <div class="hgss-header mb-1 " style="padding: 5px 5px;">
                            <label for="system.effect">Description:</label>
                        </div>
                        <div class="hgss-body" style="word-break: break-word;">
                            <textarea
                                class="ml-2"
                                name="system.effect">{{system.effect}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{{/with}}